### ðŸ“‚ Dataset Columns Description

| Column Name | Description |
|------------|-------------|
| Hotel_Address | The physical address/location of the hotel |
| Additional_Number_of_Scoring | Number of additional review sources used to compute rating |
| Review_Date | The date when the review was written |
| Average_Score | Overall average hotel score based on all reviews |
| Hotel_Name | Name of the hotel |
| Reviewer_Nationality | Nationality of the reviewer |
| Negative_Review | Text of negative (complaint) feedback by the reviewer |
| Review_Total_Negative_Word_Counts | Number of words in the negative review text |
| Total_Number_of_Reviews | Total number of reviews received by the hotel on the platform |
| Positive_Review | Text of positive feedback by the reviewer |
| Review_Total_Positive_Word_Counts | Number of words in the positive review text |
| Total_Number_of_Reviews_Reviewer_Has_Given | Total number of reviews written by the reviewer on the platform |
| Tags | Additional metadata about the stay (room type, trip type, etc.) |
| days_since_review | Number of days since the review was posted |
| lat | Latitude coordinate of the hotel |
| lng | Longitude coordinate of the hotel |
| Reviewer_Score | Score given by the reviewer |

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [114]:
df= pd.read_csv('hotel_reviews.csv')
df

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Tags,days_since_review,lat,lng,Reviewer_Score
0,0,41 Rue Des Ecoles 5th arr 75005 Paris France,126,8/7/2016,8.1,Villa Panth on,United Kingdom,No Negative,0,1374,Comfy beds Lovely bathroom My doggie enjoyed ...,11,1,"[' With a pet ', ' Leisure trip ', ' Couple ',...",361 day,48.848804,2.346989,Intermediate_Reviewer_Score
1,1,Arcs 10 Ciutat Vella 08002 Barcelona Spain,247,11/4/2015,9.2,Catalonia Catedral,United States of America,Room layout minimum shelf space not a 4 hotel...,12,1914,Location cleanliness personnel,4,3,"[' Leisure trip ', ' Couple ', ' Double Room '...",638 day,41.384664,2.174090,Intermediate_Reviewer_Score
2,2,21 rue de Dunkerque 10th arr 75010 Paris France,740,10/12/2016,7.4,Mercure Paris Terminus Nord,South Africa,The windows in the bar lounge area cannot ope...,13,5575,I liked the help that the staff offered Someo...,24,1,"[' Leisure trip ', ' Solo traveler ', ' Standa...",295 day,48.879484,2.355654,High_Reviewer_Score
3,3,5 rue du 8 Mai 1945 10th arr 75010 Paris France,710,1/12/2016,7.9,Holiday Inn Paris Gare de l Est,Germany,No Negative,0,6511,Great Location comfortable beds,5,5,"[' Leisure trip ', ' Couple ', ' Double Room N...",569 day,48.875898,2.359050,High_Reviewer_Score
4,4,Landstra er Hauptstra e 120 03 Landstra e 1030...,99,8/2/2017,8.4,Eurostars Embassy,Luxembourg,The underground garage is not accessible due ...,15,1442,Was well located for my business meeting,9,4,"[' Business trip ', ' Solo traveler ', ' Doubl...",1 days,48.196400,16.395867,Intermediate_Reviewer_Score
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,628 Western Avenue London W3 0TA United Kingdom,131,4/16/2017,8.9,Park Plaza London Park Royal,United Kingdom,Nothing,2,425,The bed was extremely comfy the room was very...,27,1,"[' Leisure trip ', ' Couple ', ' Superior King...",109 day,51.527262,-0.282992,High_Reviewer_Score
19996,19996,Gran Via 605 Eixample 08007 Barcelona Spain,343,6/27/2016,8.4,Avenida Palace,United States of America,Carpets not clean,4,3222,Loction,2,1,"[' Leisure trip ', ' Family with young childre...",402 day,41.389117,2.167199,Intermediate_Reviewer_Score
19997,19997,117 129 Cromwell Road Kensington and Chelsea L...,229,11/29/2015,7.8,Park International Hotel,United Kingdom,No Negative,0,1252,Great service and excellent for tube location,8,15,"[' Business trip ', ' Solo traveler ', ' Doubl...",613 day,51.494514,-0.186617,High_Reviewer_Score
19998,19998,24 Ludgate Hill City of London London EC4M 7DR...,918,3/1/2016,8.4,Club Quarters Hotel St Paul s,United Kingdom,Walls seemed very thin and consequently it wa...,14,4117,Quick registration,3,8,"[' Leisure trip ', ' Couple ', ' Standard Quee...",520 day,51.513930,-0.101126,High_Reviewer_Score
19999,19999,Webgasse 26 06 Mariahilf 1060 Vienna Austria,88,7/15/2017,8.8,Austria Trend Hotel Anatol Wien,Australia,No Negative,0,1324,Breakfast was excellent,4,16,"[' Leisure trip ', ' Family with young childre...",19 days,48.194577,16.346356,High_Reviewer_Score

In [115]:
df.drop('Unnamed: 0' , axis=1 , inplace=True)

In [116]:
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Tags,days_since_review,lat,lng,Reviewer_Score
0,41 Rue Des Ecoles 5th arr 75005 Paris France,126,8/7/2016,8.1,Villa Panth on,United Kingdom,No Negative,0,1374,Comfy beds Lovely bathroom My doggie enjoyed ...,11,1,"[' With a pet ', ' Leisure trip ', ' Couple ',...",361 day,48.848804,2.346989,Intermediate_Reviewer_Score
1,Arcs 10 Ciutat Vella 08002 Barcelona Spain,247,11/4/2015,9.2,Catalonia Catedral,United States of America,Room layout minimum shelf space not a 4 hotel...,12,1914,Location cleanliness personnel,4,3,"[' Leisure trip ', ' Couple ', ' Double Room '...",638 day,41.384664,2.174090,Intermediate_Reviewer_Score
2,21 rue de Dunkerque 10th arr 75010 Paris France,740,10/12/2016,7.4,Mercure Paris Terminus Nord,South Africa,The windows in the bar lounge area cannot ope...,13,5575,I liked the help that the staff offered Someo...,24,1,"[' Leisure trip ', ' Solo traveler ', ' Standa...",295 day,48.879484,2.355654,High_Reviewer_Score
3,5 rue du 8 Mai 1945 10th arr 75010 Paris France,710,1/12/2016,7.9,Holiday Inn Paris Gare de l Est,Germany,No Negative,0,6511,Great Location comfortable beds,5,5,"[' Leisure trip ', ' Couple ', ' Double Room N...",569 day,48.875898,2.359050,High_Reviewer_Score
4,Landstra er Hauptstra e 120 03 Landstra e 1030...,99,8/2/2017,8.4,Eurostars Embassy,Luxembourg,The underground garage is not accessible due ...,15,1442,Was well located for my business meeting,9,4,"[' Business trip ', ' Solo traveler ', ' Doubl...",1 days,48.196400,16.395867,Intermediate_Reviewer_Score

In [117]:
df['Hotel_Address'].unique()[1]

'Arcs 10 Ciutat Vella 08002 Barcelona Spain'

In [118]:
df['Country'] = df['Hotel_Address'].str.split().str[-1]

In [119]:
df['Country'].unique()

array(['France', 'Spain', 'Austria', 'Kingdom', 'Netherlands', 'Italy'],
      dtype=object)

In [120]:
df['City'] = df['Hotel_Address'].str.split().str[-2]

In [121]:
df['City'].unique()

array(['Paris', 'Barcelona', 'Vienna', 'United', 'Amsterdam', 'Milan'],
      dtype=object)

In [122]:
df['Hotel_Address'] = df['Hotel_Address'].str.split().str[:-2].str.join(' ')

In [123]:
df['Hotel_Address'].unique()

array(['41 Rue Des Ecoles 5th arr 75005', 'Arcs 10 Ciutat Vella 08002',
       '21 rue de Dunkerque 10th arr 75010', ...,
       'Wilton Place Knightsbridge Westminster Borough London SW1X 7RL',
       'Viale Piave 42 Milan City Center 20129',
       'Loreto 28 Les Corts 08029'], shape=(1416,), dtype=object)

In [124]:
df['Reviewer_Level'] = df['Reviewer_Score'].str.split('_').str[0]

In [125]:
df['Reviewer_Level'].unique()

array(['Intermediate', 'High', 'Low'], dtype=object)

In [126]:
df['days_since_review'] = df['days_since_review'].str.split(' ').str[0]

In [127]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Tags',
       'days_since_review', 'lat', 'lng', 'Reviewer_Score', 'Country', 'City',
       'Reviewer_Level'],
      dtype='object')

In [128]:
df.columns = [col.replace('_', ' ') for col in df.columns]

In [129]:
df.columns

Index(['Hotel Address', 'Additional Number of Scoring', 'Review Date',
       'Average Score', 'Hotel Name', 'Reviewer Nationality',
       'Negative Review', 'Review Total Negative Word Counts',
       'Total Number of Reviews', 'Positive Review',
       'Review Total Positive Word Counts',
       'Total Number of Reviews Reviewer Has Given', 'Tags',
       'days since review', 'lat', 'lng', 'Reviewer Score', 'Country', 'City',
       'Reviewer Level'],
      dtype='object')

In [130]:
df['Tags'].unique()[0]

"[' With a pet ', ' Leisure trip ', ' Couple ', ' Two Connecting Double Rooms ', ' Stayed 7 nights ', ' Submitted from a mobile device ']"

In [131]:
import ast

df['Tags_list'] = df['Tags'].apply(ast.literal_eval)

df['Tags_list'] = df['Tags_list'].apply(lambda x: [i.strip() for i in x]).apply(tuple)

In [132]:
df['Tags_list'].unique()

array([('With a pet', 'Leisure trip', 'Couple', 'Two Connecting Double Rooms', 'Stayed 7 nights', 'Submitted from a mobile device'),
       ('Leisure trip', 'Couple', 'Double Room', 'Stayed 2 nights'),
       ('Leisure trip', 'Solo traveler', 'Standard Room with 1 Single Bed', 'Stayed 3 nights', 'Submitted from a mobile device'),
       ..., ('Leisure trip', 'Couple', 'Deluxe Room', 'Stayed 30 nights'),
       ('Leisure trip', 'Family with young children', 'Deluxe King Room with City View', 'Stayed 1 night', 'Submitted from a mobile device'),
       ('Leisure trip', 'Family with young children', 'Double Room 1 2 Adults', 'Stayed 5 nights', 'Submitted from a mobile device')],
      shape=(7451,), dtype=object)

In [133]:
df['Tags_list'].unique()[4]

('Business trip', 'Solo traveler', 'Double Room', 'Stayed 1 night')

In [134]:
df.drop('Tags',axis=1 , inplace=True)

In [135]:
df['Nights Stayed'] = df['Tags_list'].apply(
    lambda x: float(next((i.split()[1] for i in x if 'Stayed' in i), 0))
)

In [136]:
df['Trip Type'] = df['Tags_list'].apply(lambda x: x[1] if len(x) > 1 else np.nan)

df['Traveler Type'] = df['Tags_list'].apply(lambda x: x[2] if len(x) > 2 else np.nan)

df['Room Type'] = df['Tags_list'].apply(lambda x: x[3] if len(x) > 3 else np.nan)

In [137]:
df.isnull().mean()*100

Hotel Address                                 0.000
Additional Number of Scoring                  0.000
Review Date                                   0.000
Average Score                                 0.000
Hotel Name                                    0.000
Reviewer Nationality                          0.000
Negative Review                               0.000
Review Total Negative Word Counts             0.000
Total Number of Reviews                       0.000
Positive Review                               0.000
Review Total Positive Word Counts             0.000
Total Number of Reviews Reviewer Has Given    0.000
days since review                             0.000
lat                                           0.655
lng                                           0.655
Reviewer Score                                0.000
Country                                       0.000
City                                          0.000
Reviewer Level                                0.000
Tags_list                                     0.000
Nights Stayed                                 0.000
Trip Type                                     0.000
Traveler Type                                 0.025
Room Type                                     1.145
dtype: float64

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               20000 non-null  object
 1   Additional Number of Scoring                20000 non-null  int64
 2   Review Date                                 20000 non-null  object
 3   Average Score                               20000 non-null  float64
 4   Hotel Name                                  20000 non-null  object
 5   Reviewer Nationality                        20000 non-null  object
 6   Negative Review                             20000 non-null  object
 7   Review Total Negative Word Counts           20000 non-null  int64
 8   Total Number of Reviews                     20000 non-null  int64
 9   Positive Review                             20000 non-null  object
 10  Review Total Positive Word Counts           20000 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  20000 non-null  int64
 12  days since review                           20000 non-null  object
 13  lat                                         19869 non-null  float64
 14  lng                                         19869 non-null  float64
 15  Reviewer Score                              20000 non-null  object
 16  Country                                     20000 non-null  object
 17  City                                        20000 non-null  object
 18  Reviewer Level                              20000 non-null  object
 19  Tags_list                                   20000 non-null  object
 20  Nights Stayed                               20000 non-null  float64
 21  Trip Type                                   20000 non-null  object
 22  Traveler Type                               19995 non-null  object
 23  Room Type                                   19771 non-null  object
dtypes: float64(4), int64(5), object(15)
memory usage: 3.7+ MB

In [139]:
df['Review Date'] = pd.to_datetime(df['Review Date']).dt.date

In [140]:
df['days since review'] = df['days since review'].astype(int)

In [141]:
df.drop('Reviewer Score', axis=1 , inplace=True)

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               20000 non-null  object
 1   Additional Number of Scoring                20000 non-null  int64
 2   Review Date                                 20000 non-null  object
 3   Average Score                               20000 non-null  float64
 4   Hotel Name                                  20000 non-null  object
 5   Reviewer Nationality                        20000 non-null  object
 6   Negative Review                             20000 non-null  object
 7   Review Total Negative Word Counts           20000 non-null  int64
 8   Total Number of Reviews                     20000 non-null  int64
 9   Positive Review                             20000 non-null  object
 10  Review Total Positive Word Counts           20000 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  20000 non-null  int64
 12  days since review                           20000 non-null  int64
 13  lat                                         19869 non-null  float64
 14  lng                                         19869 non-null  float64
 15  Country                                     20000 non-null  object
 16  City                                        20000 non-null  object
 17  Reviewer Level                              20000 non-null  object
 18  Tags_list                                   20000 non-null  object
 19  Nights Stayed                               20000 non-null  float64
 20  Trip Type                                   20000 non-null  object
 21  Traveler Type                               19995 non-null  object
 22  Room Type                                   19771 non-null  object
dtypes: float64(4), int64(6), object(13)
memory usage: 3.5+ MB

In [143]:
for col in df.select_dtypes('O').columns:
    print(col)
    print(df[col].unique())
    print('=='*20)

Hotel Address
['41 Rue Des Ecoles 5th arr 75005' 'Arcs 10 Ciutat Vella 08002'
 '21 rue de Dunkerque 10th arr 75010' ...
 'Wilton Place Knightsbridge Westminster Borough London SW1X 7RL'
 'Viale Piave 42 Milan City Center 20129' 'Loreto 28 Les Corts 08029']
========================================
Review Date
[datetime.date(2016, 8, 7) datetime.date(2015, 11, 4)
 datetime.date(2016, 10, 12) datetime.date(2016, 1, 12)
 datetime.date(2017, 8, 2) datetime.date(2017, 4, 23)
 datetime.date(2017, 1, 22) datetime.date(2016, 5, 10)
 datetime.date(2015, 10, 6) datetime.date(2017, 6, 27)
 datetime.date(2016, 12, 28) datetime.date(2017, 3, 10)
 datetime.date(2016, 7, 9) datetime.date(2016, 5, 2)
 datetime.date(2017, 1, 23) datetime.date(2016, 8, 23)
 datetime.date(2017, 6, 3) datetime.date(2015, 10, 31)
 datetime.date(2016, 9, 1) datetime.date(2016, 1, 13)
 datetime.date(2015, 8, 25) datetime.date(2016, 11, 3)
 datetime.date(2016, 12, 8) datetime.date(2015, 10, 29)
 datetime.date(2016, 7, 2) datetime.date(2016, 9, 2)
 datetime.date(2016, 8, 21) datetime.date(2016, 10, 15)
 datetime.date(2016, 4, 1) datetime.date(2016, 1, 22)
 datetime.date(2017, 5, 1) datetime.date(2016, 8, 6)
 datetime.date(2016, 5, 31) datetime.date(2017, 6, 25)
 datetime.date(2017, 5, 2) datetime.date(2017, 6, 28)
 datetime.date(2015, 10, 10) datetime.date(2016, 3, 15)
 datetime.date(2017, 7, 20) datetime.date(2016, 2, 16)
 datetime.date(2016, 3, 7) datetime.date(2015, 9, 20)
 datetime.date(2016, 12, 22) datetime.date(2017, 6, 6)
 datetime.date(2015, 10, 13) datetime.date(2017, 1, 2)
 datetime.date(2017, 7, 3) datetime.date(2016, 8, 1)
 datetime.date(2016, 1, 5) datetime.date(2016, 10, 6)
 datetime.date(2016, 1, 31) datetime.date(2016, 3, 14)
 datetime.date(2016, 12, 20) datetime.date(2017, 3, 3)
 datetime.date(2017, 2, 14) datetime.date(2017, 3, 2)
 datetime.date(2016, 1, 17) datetime.date(2015, 9, 17)
 datetime.date(2015, 10, 22) datetime.date(2016, 7, 14)
 datetime.date(2016, 3, 1) datetime.date(2016, 10, 31)
 datetime.date(2015, 12, 31) datetime.date(2015, 10, 3)
 datetime.date(2015, 8, 5) datetime.date(2016, 8, 18)
 datetime.date(2015, 9, 1) datetime.date(2017, 3, 12)
 datetime.date(2015, 10, 25) datetime.date(2015, 12, 29)
 datetime.date(2016, 7, 17) datetime.date(2015, 9, 11)
 datetime.date(2017, 1, 4) datetime.date(2015, 11, 8)
 datetime.date(2016, 3, 3) datetime.date(2015, 11, 1)
 datetime.date(2016, 2, 17) datetime.date(2017, 1, 5)
 datetime.date(2016, 6, 20) datetime.date(2017, 7, 19)
 datetime.date(2016, 12, 4) datetime.date(2015, 9, 13)
 datetime.date(2016, 5, 3) datetime.date(2016, 6, 14)
 datetime.date(2016, 3, 21) datetime.date(2017, 6, 19)
 datetime.date(2017, 5, 22) datetime.date(2017, 1, 19)
 datetime.date(2015, 8, 21) datetime.date(2016, 2, 20)
 datetime.date(2016, 2, 1) datetime.date(2016, 3, 27)
 datetime.date(2016, 12, 14) datetime.date(2016, 5, 24)
 datetime.date(2016, 8, 3) datetime.date(2015, 12, 19)
 datetime.date(2016, 9, 3) datetime.date(2017, 8, 3)
 datetime.date(2017, 1, 25) datetime.date(2016, 12, 25)
 datetime.date(2016, 4, 3) datetime.date(2016, 7, 10)
 datetime.date(2016, 3, 6) datetime.date(2016, 7, 24)
 datetime.date(2016, 6, 3) datetime.date(2017, 1, 10)
 datetime.date(2017, 2, 9) datetime.date(2016, 10, 17)
 datetime.date(2017, 7, 23) datetime.date(2015, 10, 4)
 datetime.date(2016, 9, 24) datetime.date(2016, 2, 21)
 datetime.date(2016, 12, 21) datetime.date(2017, 7, 4)
 datetime.date(2017, 6, 23) datetime.date(2016, 10, 5)
 datetime.date(2016, 10, 4) datetime.date(2016, 8, 11)
 datetime.date(2016, 5, 19) datetime.date(2017, 6, 18)
 datetime.date(2017, 7, 10) datetime.date(2016, 3, 22)
 datetime.date(2017, 7, 11) datetime.date(2017, 7, 17)
 datetime.date(2015, 10, 18) datetime.date(2015, 9, 15)
 datetime.date(2017, 6, 12) datetime.date(2016, 9, 4)
 datetime.date(2017, 6, 2) datetime.date(2017, 1, 30)
 datetime.date(2016, 12, 5) datetime.date(2016, 7, 31)
 datetime.date(2016, 6, 21) datetime.date(2015, 9, 30)
 datetime.date(2017, 3, 27) datetime.date(2015, 12, 2)
 datetime.date(2015, 10, 24) datetime.date(2017, 3, 9)
 datetime.date(2016, 6, 11) datetime.date(2017, 2, 17)
 datetime.date(2017, 5, 4) datetime.date(2016, 3, 10)
 datetime.date(2017, 4, 27) datetime.date(2016, 2, 15)
 datetime.date(2015, 8, 23) datetime.date(2016, 5, 16)
 datetime.date(2015, 10, 7) datetime.date(2016, 9, 6)
 datetime.date(2016, 9, 30) datetime.date(2017, 7, 1)
 datetime.date(2015, 10, 19) datetime.date(2016, 6, 7)
 datetime.date(2016, 9, 15) datetime.date(2017, 2, 7)
 datetime.date(2016, 11, 30) datetime.date(2016, 3, 29)
 datetime.date(2017, 7, 24) datetime.date(2016, 7, 30)
 datetime.date(2016, 2, 18) datetime.date(2016, 5, 12)
 datetime.date(2015, 11, 18) datetime.date(2017, 2, 15)
 datetime.date(2017, 4, 19) datetime.date(2015, 8, 18)
 datetime.date(2016, 2, 9) datetime.date(2017, 6, 16)
 datetime.date(2017, 3, 8) datetime.date(2016, 8, 14)
 datetime.date(2017, 3, 16) datetime.date(2016, 8, 26)
 datetime.date(2016, 2, 25) datetime.date(2015, 11, 16)
 datetime.date(2017, 2, 6) datetime.date(2016, 11, 1)
 datetime.date(2017, 2, 10) datetime.date(2015, 8, 16)
 datetime.date(2017, 5, 15) datetime.date(2016, 3, 19)
 datetime.date(2017, 4, 6) datetime.date(2015, 11, 10)
 datetime.date(2015, 11, 19) datetime.date(2015, 8, 13)
 datetime.date(2017, 5, 11) datetime.date(2016, 11, 21)
 datetime.date(2016, 9, 26) datetime.date(2015, 11, 26)
 datetime.date(2016, 6, 8) datetime.date(2017, 4, 20)
 datetime.date(2016, 12, 15) datetime.date(2017, 4, 17)
 datetime.date(2016, 7, 12) datetime.date(2017, 4, 29)
 datetime.date(2016, 10, 13) datetime.date(2016, 6, 18)
 datetime.date(2016, 6, 26) datetime.date(2015, 8, 11)
 datetime.date(2015, 12, 5) datetime.date(2016, 7, 19)
 datetime.date(2015, 12, 27) datetime.date(2016, 11, 16)
 datetime.date(2015, 10, 17) datetime.date(2016, 12, 19)
 datetime.date(2016, 11, 14) datetime.date(2016, 5, 22)
 datetime.date(2015, 12, 15) datetime.date(2017, 2, 25)
 datetime.date(2016, 1, 6) datetime.date(2016, 8, 4)
 datetime.date(2015, 10, 1) datetime.date(2015, 12, 24)
 datetime.date(2016, 8, 5) datetime.date(2016, 8, 8)
 datetime.date(2017, 6, 7) datetime.date(2016, 4, 24)
 datetime.date(2016, 5, 21) datetime.date(2016, 1, 8)
 datetime.date(2015, 12, 25) datetime.date(2017, 1, 9)
 datetime.date(2016, 11, 12) datetime.date(2017, 2, 4)
 datetime.date(2017, 1, 16) datetime.date(2016, 10, 11)
 datetime.date(2017, 4, 4) datetime.date(2015, 8, 22)
 datetime.date(2017, 6, 20) datetime.date(2016, 4, 21)
 datetime.date(2016, 9, 18) datetime.date(2017, 3, 14)
 datetime.date(2015, 11, 15) datetime.date(2016, 7, 21)
 datetime.date(2017, 3, 18) datetime.date(2016, 6, 16)
 datetime.date(2017, 5, 21) datetime.date(2016, 4, 18)
 datetime.date(2016, 3, 12) datetime.date(2015, 9, 19)
 datetime.date(2016, 9, 16) datetime.date(2015, 10, 9)
 datetime.date(2015, 11, 7) datetime.date(2017, 6, 10)
 datetime.date(2016, 7, 26) datetime.date(2017, 2, 13)
 datetime.date(2017, 4, 10) datetime.date(2016, 4, 10)
 datetime.date(2016, 9, 22) datetime.date(2015, 12, 22)
 datetime.date(2015, 8, 14) datetime.date(2016, 12, 13)
 datetime.date(2015, 8, 7) datetime.date(2016, 8, 29)
 datetime.date(2015, 11, 22) datetime.date(2017, 2, 16)
 datetime.date(2017, 5, 12) datetime.date(2017, 7, 25)
 datetime.date(2016, 4, 11) datetime.date(2017, 3, 24)
 datetime.date(2015, 12, 1) datetime.date(2016, 12, 18)
 datetime.date(2015, 10, 16) datetime.date(2016, 10, 25)
 datetime.date(2017, 2, 3) datetime.date(2016, 7, 22)
 datetime.date(2015, 10, 30) datetime.date(2017, 2, 12)
 datetime.date(2017, 7, 28) datetime.date(2015, 12, 12)
 datetime.date(2015, 9, 23) datetime.date(2017, 7, 21)
 datetime.date(2017, 2, 23) datetime.date(2016, 6, 6)
 datetime.date(2016, 8, 2) datetime.date(2017, 4, 14)
 datetime.date(2015, 10, 11) datetime.date(2017, 4, 5)
 datetime.date(2016, 3, 5) datetime.date(2015, 11, 25)
 datetime.date(2016, 7, 7) datetime.date(2016, 9, 7)
 datetime.date(2016, 6, 24) datetime.date(2016, 8, 10)
 datetime.date(2015, 12, 16) datetime.date(2017, 3, 6)
 datetime.date(2015, 10, 8) datetime.date(2016, 3, 28)
 datetime.date(2017, 6, 30) datetime.date(2016, 5, 9)
 datetime.date(2017, 5, 31) datetime.date(2016, 6, 19)
 datetime.date(2017, 2, 20) datetime.date(2017, 5, 5)
 datetime.date(2017, 3, 21) datetime.date(2017, 1, 3)
 datetime.date(2016, 12, 3) datetime.date(2016, 2, 2)
 datetime.date(2016, 7, 13) datetime.date(2016, 2, 23)
 datetime.date(2016, 2, 4) datetime.date(2016, 5, 17)
 datetime.date(2017, 4, 28) datetime.date(2017, 5, 20)
 datetime.date(2016, 10, 7) datetime.date(2016, 11, 22)
 datetime.date(2015, 11, 24) datetime.date(2017, 7, 9)
 datetime.date(2016, 7, 6) datetime.date(2016, 1, 23)
 datetime.date(2015, 8, 28) datetime.date(2016, 12, 12)
 datetime.date(2017, 6, 5) datetime.date(2016, 5, 7)
 datetime.date(2016, 4, 14) datetime.date(2015, 8, 17)
 datetime.date(2016, 7, 25) datetime.date(2015, 12, 26)
 datetime.date(2016, 2, 14) datetime.date(2016, 6, 22)
 datetime.date(2015, 10, 20) datetime.date(2017, 3, 29)
 datetime.date(2017, 5, 9) datetime.date(2015, 9, 7)
 datetime.date(2015, 8, 27) datetime.date(2016, 2, 24)
 datetime.date(2017, 3, 28) datetime.date(2017, 4, 22)
 datetime.date(2017, 5, 29) datetime.date(2015, 10, 27)
 datetime.date(2015, 11, 14) datetime.date(2017, 6, 17)
 datetime.date(2015, 9, 27) datetime.date(2017, 6, 4)
 datetime.date(2015, 8, 26) datetime.date(2017, 7, 12)
 datetime.date(2017, 3, 31) datetime.date(2016, 5, 4)
 datetime.date(2016, 5, 15) datetime.date(2017, 6, 26)
 datetime.date(2017, 4, 25) datetime.date(2015, 12, 8)
 datetime.date(2016, 10, 18) datetime.date(2015, 9, 6)
 datetime.date(2016, 12, 16) datetime.date(2017, 3, 30)
 datetime.date(2015, 9, 28) datetime.date(2017, 6, 13)
 datetime.date(2016, 2, 22) datetime.date(2017, 5, 13)
 datetime.date(2016, 4, 30) datetime.date(2016, 10, 1)
 datetime.date(2016, 8, 9) datetime.date(2016, 4, 8)
 datetime.date(2016, 5, 5) datetime.date(2016, 7, 20)
 datetime.date(2016, 10, 24) datetime.date(2015, 8, 9)
 datetime.date(2017, 2, 18) datetime.date(2017, 4, 18)
 datetime.date(2016, 6, 5) datetime.date(2016, 6, 23)
 datetime.date(2017, 4, 11) datetime.date(2017, 3, 1)
 datetime.date(2016, 4, 26) datetime.date(2017, 3, 7)
 datetime.date(2016, 4, 6) datetime.date(2017, 1, 31)
 datetime.date(2016, 11, 17) datetime.date(2016, 10, 22)
 datetime.date(2016, 10, 27) datetime.date(2016, 3, 24)
 datetime.date(2016, 11, 4) datetime.date(2016, 5, 11)
 datetime.date(2016, 5, 26) datetime.date(2016, 1, 2)
 datetime.date(2016, 6, 2) datetime.date(2015, 11, 30)
 datetime.date(2016, 12, 30) datetime.date(2017, 7, 26)
 datetime.date(2017, 2, 19) datetime.date(2015, 11, 17)
 datetime.date(2016, 10, 16) datetime.date(2016, 11, 7)
 datetime.date(2015, 12, 20) datetime.date(2015, 9, 8)
 datetime.date(2016, 6, 30) datetime.date(2017, 5, 30)
 datetime.date(2017, 5, 14) datetime.date(2017, 5, 28)
 datetime.date(2016, 7, 28) datetime.date(2016, 1, 3)
 datetime.date(2015, 8, 4) datetime.date(2016, 8, 30)
 datetime.date(2015, 12, 13) datetime.date(2016, 4, 17)
 datetime.date(2015, 9, 22) datetime.date(2016, 4, 5)
 datetime.date(2016, 2, 7) datetime.date(2017, 1, 13)
 datetime.date(2016, 4, 12) datetime.date(2017, 5, 3)
 datetime.date(2017, 5, 10) datetime.date(2016, 8, 22)
 datetime.date(2016, 5, 8) datetime.date(2016, 1, 10)
 datetime.date(2017, 7, 7) datetime.date(2015, 9, 3)
 datetime.date(2017, 5, 27) datetime.date(2015, 11, 12)
 datetime.date(2016, 7, 1) datetime.date(2016, 1, 20)
 datetime.date(2016, 6, 17) datetime.date(2016, 3, 4)
 datetime.date(2016, 11, 13) datetime.date(2017, 1, 17)
 datetime.date(2016, 1, 27) datetime.date(2017, 5, 7)
 datetime.date(2017, 7, 16) datetime.date(2016, 12, 31)
 datetime.date(2016, 9, 5) datetime.date(2017, 1, 21)
 datetime.date(2015, 12, 17) datetime.date(2017, 3, 26)
 datetime.date(2017, 2, 22) datetime.date(2016, 3, 2)
 datetime.date(2016, 9, 29) datetime.date(2017, 5, 25)
 datetime.date(2016, 11, 26) datetime.date(2016, 11, 25)
 datetime.date(2015, 8, 31) datetime.date(2016, 9, 20)
 datetime.date(2016, 2, 6) datetime.date(2016, 4, 7)
 datetime.date(2016, 9, 27) datetime.date(2017, 1, 24)
 datetime.date(2017, 4, 16) datetime.date(2016, 11, 10)
 datetime.date(2016, 7, 5) datetime.date(2016, 9, 19)
 datetime.date(2016, 11, 9) datetime.date(2016, 12, 1)
 datetime.date(2015, 11, 29) datetime.date(2015, 8, 10)
 datetime.date(2016, 11, 5) datetime.date(2017, 2, 2)
 datetime.date(2016, 8, 27) datetime.date(2016, 1, 4)
 datetime.date(2017, 8, 1) datetime.date(2015, 12, 6)
 datetime.date(2016, 11, 28) datetime.date(2016, 7, 8)
 datetime.date(2016, 1, 29) datetime.date(2016, 3, 9)
 datetime.date(2017, 3, 13) datetime.date(2016, 10, 30)
 datetime.date(2017, 2, 27) datetime.date(2016, 8, 17)
 datetime.date(2016, 1, 16) datetime.date(2016, 11, 23)
 datetime.date(2016, 4, 20) datetime.date(2015, 12, 3)
 datetime.date(2015, 11, 21) datetime.date(2016, 1, 7)
 datetime.date(2015, 10, 23) datetime.date(2016, 1, 19)
 datetime.date(2017, 3, 11) datetime.date(2017, 5, 8)
 datetime.date(2016, 3, 18) datetime.date(2016, 11, 2)
 datetime.date(2016, 11, 8) datetime.date(2017, 4, 8)
 datetime.date(2015, 11, 3) datetime.date(2016, 12, 26)
 datetime.date(2017, 5, 6) datetime.date(2016, 8, 24)
 datetime.date(2016, 10, 10) datetime.date(2016, 10, 23)
 datetime.date(2016, 3, 8) datetime.date(2016, 1, 24)
 datetime.date(2017, 1, 28) datetime.date(2015, 8, 20)
 datetime.date(2016, 6, 1) datetime.date(2016, 12, 24)
 datetime.date(2016, 7, 11) datetime.date(2016, 12, 9)
 datetime.date(2015, 11, 28) datetime.date(2015, 9, 10)
 datetime.date(2016, 4, 28) datetime.date(2017, 3, 22)
 datetime.date(2016, 7, 16) datetime.date(2017, 7, 13)
 datetime.date(2017, 1, 29) datetime.date(2016, 7, 27)
 datetime.date(2016, 5, 27) datetime.date(2016, 1, 26)
 datetime.date(2016, 4, 9) datetime.date(2015, 9, 12)
 datetime.date(2017, 4, 15) datetime.date(2016, 6, 12)
 datetime.date(2016, 9, 8) datetime.date(2015, 8, 8)
 datetime.date(2015, 9, 18) datetime.date(2016, 8, 28)
 datetime.date(2016, 12, 10) datetime.date(2016, 6, 28)
 datetime.date(2016, 4, 16) datetime.date(2017, 7, 29)
 datetime.date(2017, 1, 8) datetime.date(2017, 7, 31)
 datetime.date(2016, 10, 26) datetime.date(2016, 3, 31)
 datetime.date(2015, 12, 10) datetime.date(2015, 8, 6)
 datetime.date(2015, 8, 30) datetime.date(2017, 3, 15)
 datetime.date(2017, 7, 6) datetime.date(2016, 11, 6)
 datetime.date(2016, 12, 7) datetime.date(2017, 6, 1)
 datetime.date(2017, 6, 21) datetime.date(2015, 9, 24)
 datetime.date(2016, 4, 22) datetime.date(2017, 5, 26)
 datetime.date(2017, 6, 15) datetime.date(2016, 8, 19)
 datetime.date(2017, 1, 6) datetime.date(2016, 10, 9)
 datetime.date(2017, 6, 24) datetime.date(2017, 5, 16)
 datetime.date(2015, 11, 23) datetime.date(2016, 12, 17)
 datetime.date(2016, 12, 11) datetime.date(2017, 6, 22)
 datetime.date(2015, 8, 29) datetime.date(2016, 8, 31)
 datetime.date(2015, 11, 11) datetime.date(2017, 6, 9)
 datetime.date(2016, 7, 15) datetime.date(2016, 8, 13)
 datetime.date(2016, 5, 29) datetime.date(2016, 6, 15)
 datetime.date(2016, 1, 21) datetime.date(2017, 1, 7)
 datetime.date(2016, 3, 13) datetime.date(2017, 4, 9)
 datetime.date(2017, 7, 2) datetime.date(2017, 1, 1)
 datetime.date(2016, 11, 20) datetime.date(2016, 3, 23)
 datetime.date(2016, 4, 19) datetime.date(2017, 4, 24)
 datetime.date(2015, 11, 5) datetime.date(2016, 3, 26)
 datetime.date(2017, 1, 18) datetime.date(2017, 2, 11)
 datetime.date(2016, 6, 27) datetime.date(2015, 10, 21)
 datetime.date(2017, 4, 12) datetime.date(2015, 10, 14)
 datetime.date(2017, 3, 20) datetime.date(2016, 2, 3)
 datetime.date(2016, 12, 27) datetime.date(2016, 1, 11)
 datetime.date(2015, 8, 15) datetime.date(2016, 2, 28)
 datetime.date(2015, 10, 28) datetime.date(2016, 9, 23)
 datetime.date(2016, 10, 19) datetime.date(2016, 1, 9)
 datetime.date(2017, 4, 26) datetime.date(2016, 4, 29)
 datetime.date(2016, 9, 21) datetime.date(2016, 8, 16)
 datetime.date(2016, 10, 8) datetime.date(2016, 5, 18)
 datetime.date(2015, 9, 29) datetime.date(2016, 5, 30)
 datetime.date(2016, 5, 25) datetime.date(2017, 7, 18)
 datetime.date(2016, 2, 27) datetime.date(2015, 11, 27)
 datetime.date(2016, 1, 28) datetime.date(2017, 3, 25)
 datetime.date(2016, 12, 29) datetime.date(2016, 3, 17)
 datetime.date(2015, 11, 9) datetime.date(2016, 5, 1)
 datetime.date(2016, 12, 23) datetime.date(2017, 4, 7)
 datetime.date(2017, 7, 14) datetime.date(2016, 7, 23)
 datetime.date(2017, 7, 15) datetime.date(2016, 2, 13)
 datetime.date(2016, 3, 16) datetime.date(2016, 10, 20)
 datetime.date(2016, 4, 23) datetime.date(2016, 10, 21)
 datetime.date(2016, 12, 2) datetime.date(2015, 9, 21)
 datetime.date(2017, 4, 13) datetime.date(2015, 9, 14)
 datetime.date(2017, 7, 5) datetime.date(2015, 12, 28)
 datetime.date(2016, 9, 28) datetime.date(2015, 8, 24)
 datetime.date(2016, 6, 9) datetime.date(2016, 9, 9)
 datetime.date(2016, 12, 6) datetime.date(2017, 1, 27)
 datetime.date(2017, 1, 26) datetime.date(2016, 5, 6)
 datetime.date(2016, 11, 18) datetime.date(2016, 4, 25)
 datetime.date(2016, 11, 24) datetime.date(2016, 7, 29)
 datetime.date(2016, 5, 20) datetime.date(2016, 8, 20)
 datetime.date(2017, 5, 18) datetime.date(2016, 2, 5)
 datetime.date(2015, 9, 5) datetime.date(2017, 6, 29)
 datetime.date(2016, 1, 25) datetime.date(2017, 3, 4)
 datetime.date(2017, 5, 17) datetime.date(2016, 9, 25)
 datetime.date(2015, 8, 12) datetime.date(2017, 2, 1)
 datetime.date(2015, 10, 15) datetime.date(2016, 7, 3)
 datetime.date(2017, 7, 22) datetime.date(2016, 11, 29)
 datetime.date(2016, 9, 10) datetime.date(2016, 3, 20)
 datetime.date(2016, 10, 29) datetime.date(2017, 2, 26)
 datetime.date(2017, 7, 8) datetime.date(2016, 11, 15)
 datetime.date(2015, 12, 14) datetime.date(2016, 10, 28)
 datetime.date(2015, 11, 2) datetime.date(2016, 11, 11)
 datetime.date(2016, 1, 30) datetime.date(2016, 6, 29)
 datetime.date(2016, 5, 14) datetime.date(2016, 5, 28)
 datetime.date(2017, 4, 3) datetime.date(2017, 1, 20)
 datetime.date(2017, 3, 19) datetime.date(2017, 4, 1)
 datetime.date(2016, 10, 14) datetime.date(2017, 6, 14)
 datetime.date(2016, 7, 18) datetime.date(2016, 10, 2)
 datetime.date(2016, 8, 12) datetime.date(2015, 12, 11)
 datetime.date(2016, 4, 13) datetime.date(2016, 4, 2)
 datetime.date(2016, 10, 3) datetime.date(2015, 10, 12)
 datetime.date(2017, 2, 21) datetime.date(2016, 6, 4)
 datetime.date(2017, 1, 12) datetime.date(2015, 10, 26)
 datetime.date(2017, 2, 24) datetime.date(2015, 9, 16)
 datetime.date(2016, 4, 15) datetime.date(2017, 4, 21)
 datetime.date(2015, 9, 2) datetime.date(2015, 8, 19)
 datetime.date(2016, 8, 15) datetime.date(2017, 4, 30)
 datetime.date(2016, 2, 26) datetime.date(2017, 1, 14)
 datetime.date(2015, 9, 25) datetime.date(2016, 8, 25)
 datetime.date(2016, 6, 25) datetime.date(2017, 1, 11)
 datetime.date(2016, 3, 25) datetime.date(2015, 9, 26)
 datetime.date(2015, 12, 9) datetime.date(2017, 6, 8)
 datetime.date(2016, 2, 12) datetime.date(2016, 11, 19)
 datetime.date(2017, 5, 24) datetime.date(2016, 1, 1)
 datetime.date(2017, 7, 30) datetime.date(2017, 2, 5)
 datetime.date(2016, 5, 23) datetime.date(2017, 3, 5)
 datetime.date(2016, 9, 17) datetime.date(2017, 5, 23)
 datetime.date(2017, 2, 28) datetime.date(2017, 3, 23)
 datetime.date(2016, 3, 30) datetime.date(2017, 1, 15)
 datetime.date(2015, 12, 4) datetime.date(2015, 11, 13)
 datetime.date(2017, 3, 17) datetime.date(2016, 6, 10)
 datetime.date(2016, 11, 27) datetime.date(2016, 2, 10)
 datetime.date(2017, 7, 27) datetime.date(2017, 6, 11)
 datetime.date(2016, 2, 29) datetime.date(2017, 5, 19)
 datetime.date(2016, 9, 14) datetime.date(2015, 12, 23)
 datetime.date(2016, 1, 18) datetime.date(2015, 12, 21)
 datetime.date(2016, 4, 27) datetime.date(2015, 11, 20)
 datetime.date(2016, 1, 14) datetime.date(2015, 9, 9)
 datetime.date(2015, 9, 4) datetime.date(2015, 11, 6)
 datetime.date(2016, 6, 13) datetime.date(2016, 5, 13)
 datetime.date(2015, 10, 5) datetime.date(2016, 1, 15)

In [144]:
df['Reviewer Nationality'] = df['Reviewer Nationality'].str.strip()

In [145]:
df['Reviewer Nationality'].unique()

array(['United Kingdom', 'United States of America', 'South Africa',
       'Germany', 'Luxembourg', 'Bahrain', 'Australia', 'Chile',
       'Costa Rica', 'Greece', 'United Arab Emirates', 'Canada', 'Brazil',
       'Israel', 'Singapore', 'Isle of Man', 'Belgium', 'Norway',
       'Thailand', 'Italy', 'Ireland', 'Slovakia', 'China', 'Kuwait',
       'Malta', 'Saudi Arabia', 'Romania', 'Switzerland', 'Nigeria',
       'Egypt', 'Hungary', 'Turkey', 'Netherlands', 'France', 'Cyprus',
       'Qatar', 'India', 'Iraq', 'Spain', 'Albania', 'Portugal',
       'Lithuania', 'Lebanon', 'Russia', 'Hong Kong', 'Pakistan',
       'Sweden', 'Czech Republic', 'Guernsey', 'Finland', 'Indonesia',
       'New Zealand', 'Latvia', 'Taiwan', 'Abkhazia Georgia', 'Croatia',
       'Philippines', 'Vietnam', 'Austria', 'Peru', 'Ghana', 'Iceland',
       'Bangladesh', 'San Marino', 'Monaco', 'Trinidad and Tobago',
       'Botswana', 'Japan', 'Malaysia', 'Colombia', 'Poland', 'Serbia',
       'Sri Lanka', '', 'Uruguay', 'Bulgaria', 'Jordan', 'Denmark',
       'Nepal', 'South Korea', 'Ukraine', 'Aruba', 'Oman', 'Armenia',
       'Iran', 'Mexico', 'Kazakhstan', 'Moldova', 'Jersey', 'Estonia',
       'Morocco', 'Belarus', 'Georgia', 'Gibraltar', 'Bahamas',
       'Barbados', 'Kenya', 'Dominican Republic', 'Mauritius', 'Kosovo',
       'Malawi', 'Bosnia and Herzegovina', 'Tanzania', 'Guadeloupe',
       'Azerbaijan', 'Angola', 'Belize', 'Argentina', 'Slovenia',
       'Venezuela', 'Panama', 'Mozambique', 'Puerto Rico', 'Montenegro',
       'Mali', 'Libya', 'Ethiopia', 'Andorra', 'Zambia', 'Macedonia',
       'Jamaica', 'Bermuda', 'Brunei', 'Macau', 'Syria', 'Zimbabwe',
       'British Virgin Islands', 'Algeria', 'Yemen', 'Sudan',
       'Cook Islands', 'Palestinian Territory', 'Paraguay', 'El Salvador',
       'Anguilla', 'Ivory Coast', 'Bolivia', 'Namibia', 'Haiti',
       'New Caledonia', 'Niger', 'Kyrgyzstan', 'U S Virgin Islands',
       'Sierra Leone', 'Papua New Guinea',
       'United States Minor Outlying Islands', 'Myanmar',
       'French Polynesia', 'Tunisia', 'Crimea', 'Afghanistan', 'Togo'],
      dtype=object)

In [146]:
df['Room Type'].unique()

array(['Two Connecting Double Rooms', 'Stayed 2 nights',
       'Stayed 3 nights', 'Stayed 1 night',
       'Submitted from a mobile device', 'Stayed 4 nights',
       'Stayed 6 nights', 'Stayed 7 nights', 'Stayed 5 nights', nan,
       'Twin Room Non Smoking', 'Stayed 10 nights', 'Stayed 8 nights',
       'Stayed 9 nights', 'Stayed 12 nights', 'Stayed 30 nights',
       'Stayed 11 nights', 'Double or Twin Room', 'Stayed 13 nights',
       'Double Room', 'Family Room 2 Adults 1 Child',
       'Superior Double Room with Internal View', 'Stayed 16 nights',
       'Executive King Room',
       'Double Room with Free Airport Shuttle Service from 5 00am to 00 30am',
       'Stayed 19 nights', 'Superior Double Room',
       'Double or Twin Room 1 2 Adults', 'Standard Double Room',
       'Stayed 27 nights', 'Stayed 14 nights', 'Deluxe Double Twin Room',
       'Business Apartment with Public Transport Ticket',
       'Standard Twin Room',
       'Superior Double Room with Balcony and City View',
       'Nhow Double or Twin Room', 'Superior Double or Twin Room',
       'Classic Triple Room', 'Marina Double Suite',
       'Economy Single Room', 'Superior Double Room with Spa Access',
       'Classic Double or Twin Room', 'Double Guest Room',
       'Lower Ground Double Room', 'Stayed 22 nights',
       'Twin Room with Free Airport Shuttle Service from 5 00am to 00 30am',
       'Deluxe Double Room', 'Standard Room', '2 rooms',
       'Deluxe Double or Twin Room'], dtype=object)

In [147]:
df['Nights Stayed'].unique()

array([ 7.,  2.,  3.,  1.,  6.,  4.,  5., 10.,  8.,  9., 12., 30., 11.,
        0., 14., 13., 16., 19., 27., 20., 22.])

In [148]:
df['Tags_list'].unique()[0]

('With a pet',
 'Leisure trip',
 'Couple',
 'Two Connecting Double Rooms',
 'Stayed 7 nights',
 'Submitted from a mobile device')

In [149]:
df['Room Type'] = df['Room Type'].apply(lambda x: np.nan if 'Stayed' in str(x) else x)

In [150]:
df['Room Type'] = df['Room Type'].apply(lambda x: np.nan if 'Submitted' in str(x) else x)

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               20000 non-null  object
 1   Additional Number of Scoring                20000 non-null  int64
 2   Review Date                                 20000 non-null  object
 3   Average Score                               20000 non-null  float64
 4   Hotel Name                                  20000 non-null  object
 5   Reviewer Nationality                        20000 non-null  object
 6   Negative Review                             20000 non-null  object
 7   Review Total Negative Word Counts           20000 non-null  int64
 8   Total Number of Reviews                     20000 non-null  int64
 9   Positive Review                             20000 non-null  object
 10  Review Total Positive Word Counts           20000 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  20000 non-null  int64
 12  days since review                           20000 non-null  int64
 13  lat                                         19869 non-null  float64
 14  lng                                         19869 non-null  float64
 15  Country                                     20000 non-null  object
 16  City                                        20000 non-null  object
 17  Reviewer Level                              20000 non-null  object
 18  Tags_list                                   20000 non-null  object
 19  Nights Stayed                               20000 non-null  float64
 20  Trip Type                                   20000 non-null  object
 21  Traveler Type                               19995 non-null  object
 22  Room Type                                   49 non-null     object
dtypes: float64(4), int64(6), object(13)
memory usage: 3.5+ MB

In [152]:
df.isnull().mean()*100

Hotel Address                                  0.000
Additional Number of Scoring                   0.000
Review Date                                    0.000
Average Score                                  0.000
Hotel Name                                     0.000
Reviewer Nationality                           0.000
Negative Review                                0.000
Review Total Negative Word Counts              0.000
Total Number of Reviews                        0.000
Positive Review                                0.000
Review Total Positive Word Counts              0.000
Total Number of Reviews Reviewer Has Given     0.000
days since review                              0.000
lat                                            0.655
lng                                            0.655
Country                                        0.000
City                                           0.000
Reviewer Level                                 0.000
Tags_list                                      0.000
Nights Stayed                                  0.000
Trip Type                                      0.000
Traveler Type                                  0.025
Room Type                                     99.755
dtype: float64

In [153]:
df['Trip Type'].unique()

array(['Leisure trip', 'Couple', 'Solo traveler', 'Classic Double Room',
       'Group', 'Superior King Room', 'Family with young children',
       'Family with older children', 'Double or Twin Room',
       'Standard Double or Twin Room', 'Travelers with friends',
       'Corner Double Room', 'Double Room', 'Executive Single Room',
       'Junior Suite with access to the Club Lounge',
       'Superior Double Room', '2 rooms', 'Standard King Room',
       'Deluxe Double Room', 'Comfort Double or Twin Room',
       'Compact Double Room', 'Double Room with Two Double Beds',
       'Standard Double Room', 'Executive Double Room',
       'Small Double Room', 'Queen Guest Room',
       'Superior King or Twin Room', 'Junior Suite', 'Deluxe Single Room',
       'Triple Room', 'Standard Room with 1 Single Bed',
       'Superior Twin Room', 'Classic King Room', 'Single Room',
       'Twin Guest Room', 'Queen Room', 'Deluxe King Room with City View',
       'Small Double or Twin Room', 'Double Guest Room',
       'Standard Queen Room', 'Deluxe King Room with Stadium View',
       'Standard Single Room', 'Budget Single Room',
       'Single Hilton Guest Room', 'Suite',
       'Weekend Offer Standard Studio', 'Club Twin Room',
       'Superior Double Twin Room', 'Mini Room',
       'Deluxe Room Barlow Wing', 'Studio', 'Family Superior Room',
       'Superior Double or Twin Room with View', 'Classic Room',
       'Luxury Double Room', 'Deluxe Double',
       'Superior Room with 2 Single Beds',
       'Queen Room with Mobility Access',
       'Submitted from a mobile device',
       'Deluxe Double Room with Four Poster Bed',
       'Standard Double or Twin Room with Balcony 1 Adult',
       'Queen Room Mobility Access',
       'Superior Double Room with Spa Access',
       'Executive Studio City View', 'Premium Double or Twin Room',
       'Comfort Double Room', 'Standard Twin Room', 'Basic Double Room',
       'King Double Room', 'Deluxe Twin Room', 'Twin Room',
       'Double Room with French Bed', 'Superior Twin Room with View',
       'Comfort Twin Double Room',
       'Double or Twin Room 2 Adult 1 Children',
       'Standard Double Room without Window', 'Single Room Annex',
       'Superior Queen Room with Double Sofa', 'Deluxe King Room',
       'Large Comfort Double or Twin Room', 'Executive King Room',
       'Executive Room with queen size bed and single sofa bed 2 Adults 1 child',
       'Standard', 'Superior Queen Room', 'Deluxe King Room with Balcony',
       'Executive Room', 'Classic Double or Twin Room',
       'Premium Double Room', 'Club Queen Room', 'Queen or Twin Room',
       'Economy Double Room', 'Business trip',
       'Standard Room for 1 or 2 people with Kitchenette',
       'One Bedroom Apartment', 'Kings One Bedroom Suite',
       'Single Cabin Room', 'Club Double Room',
       'Fabulous Double or Twin Room',
       'Twin Room with Free Airport Shuttle Service from 5 00am to 00 30am',
       'Deluxe Room', 'Superior Shard King', 'Standard Double Twin Room',
       'Family Room 2 Adults 2 Children',
       'Double or Twin Room 1 2 Adults', 'Junior Double',
       'Prestige Double Room', 'Small Queen Room', 'Standard Triple Room',
       'Royal Mews View Classic Double', 'Deluxe Triple Room',
       'Two Connecting Rooms',
       'Deluxe King Room Balcony with Eiffel Tower View',
       'Small Single Room', 'Double Suite', 'Double Room Non Smoking',
       'Deluxe Double Room with View', 'Classic Single Room',
       'Premier Double Room', 'Executive Twin Room',
       'Superior Twin Room with Internal View', 'Standard Room',
       'Junior Double Room', 'Superior Room', 'Queen Room Non Smoking',
       'Deluxe King Room with Club Lounge Access',
       'Small Single Room with Balcony',
       'Double Room 1 Adult with Free Airport Shuttle Service from 5 00am to 00 30am',
       'Superior Double or Twin Room with Pool Spa Access',
       'Studio King Family', 'Deluxe Double or Twin Room',
       'Standard Double', 'Special Offer Queen Room',
       'Deluxe King Room with River View', 'Executive Club Double Room',
       'Classic Room with Garden View', 'Apartment',
       'Queen or Two Double Beds Room', 'Superior Single Room',
       'Family Room', 'Suite with Balcony', 'Double Hilton Guestroom',
       'Double Room Single Use', 'Double or Twin Room with View',
       'Standard Studio', 'City King Room',
       'Superior Double or Twin Room', 'Superior Premium Queen Room',
       'King Hilton Guest Room', 'Dorsett Double Room',
       'River View Deluxe', 'Superior Double Room with Internal View',
       'Compact Double Room with Private Bathroom',
       'City King or Twin Room', 'Family Studio',
       'Queen Guest Room with Sofa Bed',
       'Double or Twin Room with Courtyard View', 'Single Guest Room',
       'Double or Twin Room with Terrace', 'Classic Queen Room',
       'Executive King Room with Sofa Bed Non Smoking', 'Double Studio',
       'Double Room with Free Airport Shuttle Service from 5 00am to 00 30am',
       'King Guest Room', 'One Bedroom Suite',
       'Single Room with Shared Bathroom',
       'Superior Double Room with 1 extra bed',
       'Executive Double or Twin Room with Spa Access',
       'Junior Suite with Extra Bed',
       'Executive King Room with Executive Lounge Access',
       'penta Junior Suite', 'Superior Double or Twin Room 1 2 Adults',
       'Studio Double Room', 'Superior Room with Queen Bed and Sofa',
       'Superior Queen Room with Sofa', 'King Junior Suite',
       'Deluxe One Bedroom Suite', 'Double Room with Sofa Bed',
       'Executive King Room with Panoramic View', 'Classic Triple Room',
       'Deluxe Studio Suite', 'Twin Deluxe Room', 'Club Room',
       'Superior Room with Queen size bed and Sofa Bed',
       'Twin Room Non Smoking', 'Quality Single Room',
       'Double Room 1 Adult', 'Executive Double Room River View',
       'Single Room with Double Bed',
       'Spring Package Deluxe Double or Twin Room',
       'Twin Hilton Guest Room', 'Queen Hilton Guest Room',
       'Double Superior Room', 'Studio Triple',
       'Privilege Super King or Twin Room', 'Deluxe with Two Double Beds',
       'Hilton Deluxe King Room'], dtype=object)

In [154]:
df['Nights Stayed'].unique()

array([ 7.,  2.,  3.,  1.,  6.,  4.,  5., 10.,  8.,  9., 12., 30., 11.,
        0., 14., 13., 16., 19., 27., 20., 22.])

In [155]:
df['Traveler Type'].unique()

array(['Couple', 'Double Room', 'Standard Room with 1 Single Bed', ...,
       'Superior King Suite 3 adults', 'Eiffel Tower View King Room',
       'Standard Duplex Room 1 2 Adults'], shape=(1211,), dtype=object)

In [156]:
df.drop(['Nights Stayed','Traveler Type','Trip Type','Room Type'],axis=1 , inplace=True)

In [157]:
df['Tags_list'].unique()[0]

('With a pet',
 'Leisure trip',
 'Couple',
 'Two Connecting Double Rooms',
 'Stayed 7 nights',
 'Submitted from a mobile device')

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               20000 non-null  object
 1   Additional Number of Scoring                20000 non-null  int64
 2   Review Date                                 20000 non-null  object
 3   Average Score                               20000 non-null  float64
 4   Hotel Name                                  20000 non-null  object
 5   Reviewer Nationality                        20000 non-null  object
 6   Negative Review                             20000 non-null  object
 7   Review Total Negative Word Counts           20000 non-null  int64
 8   Total Number of Reviews                     20000 non-null  int64
 9   Positive Review                             20000 non-null  object
 10  Review Total Positive Word Counts           20000 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  20000 non-null  int64
 12  days since review                           20000 non-null  int64
 13  lat                                         19869 non-null  float64
 14  lng                                         19869 non-null  float64
 15  Country                                     20000 non-null  object
 16  City                                        20000 non-null  object
 17  Reviewer Level                              20000 non-null  object
 18  Tags_list                                   20000 non-null  object
dtypes: float64(3), int64(6), object(10)
memory usage: 2.9+ MB

In [159]:
df['Nights Stayed'] = df['Tags_list'].apply(
    lambda tags: float(next((item.split()[1] for item in tags if 'Stayed' in item), np.nan))
)

In [160]:
df['Nights Stayed'].unique()

array([ 7.,  2.,  3.,  1.,  6.,  4.,  5., 10.,  8.,  9., 12., 30., 11.,
       nan, 14., 13., 16., 19., 27., 20., 22.])

In [161]:
traveler_options = ['Couple', 'Solo traveler', 'Group']

df['Traveler Type'] = df['Tags_list'].apply(
    lambda tags: next(
        (item for item in tags if item in traveler_options or item.startswith('Family')),
        np.nan
    )
)

In [162]:
df.columns

Index(['Hotel Address', 'Additional Number of Scoring', 'Review Date',
       'Average Score', 'Hotel Name', 'Reviewer Nationality',
       'Negative Review', 'Review Total Negative Word Counts',
       'Total Number of Reviews', 'Positive Review',
       'Review Total Positive Word Counts',
       'Total Number of Reviews Reviewer Has Given', 'days since review',
       'lat', 'lng', 'Country', 'City', 'Reviewer Level', 'Tags_list',
       'Nights Stayed', 'Traveler Type'],
      dtype='object')

In [ ]:
# traveler_options = ['Couple', 'Family', 'Solo traveler', 'Group']
# trip_options = ['Leisure trip', 'Business trip']

# df['Room Type'] = df['Tags_list'].apply(
#     lambda tags: next(
#         (item for item in tags 
#          if not item.startswith(('With', 'Submitted', 'Stayed')) 
#          and item not in traveler_options
#          and item not in trip_options),
#         np.nan
#     )
# )

In [164]:
trip_options = ['Leisure trip', 'Business trip']
df['Trip Type'] = df['Tags_list'].apply(
    lambda tags: next((item for item in tags if item in trip_options), np.nan)
)

In [165]:
traveler_options = df['Traveler Type'].unique()
trip_options = df['Trip Type'].unique()

df['Room Type'] = df['Tags_list'].apply(
    lambda tags: next(
        (item for item in tags 
         if not item.startswith(('Submitted', 'Stayed')) 
         and item not in traveler_options 
         and item not in trip_options),
        np.nan  
    )
)

In [166]:
for col in df[['Nights Stayed','Traveler Type','Room Type' ,'Trip Type']]:
    print(col)
    print(df[col].unique())
    print('='*50)

Nights Stayed
[ 7.  2.  3.  1.  6.  4.  5. 10.  8.  9. 12. 30. 11. nan 14. 13. 16. 19.
 27. 20. 22.]
==================================================
Traveler Type
['Couple' 'Solo traveler' 'Group' 'Family with young children'
 'Family with older children' nan 'Family Room' 'Family Two Bedroom Suite']
==================================================
Room Type
['With a pet' 'Double Room' 'Standard Room with 1 Single Bed' ...
 'Superior King Suite 3 adults' 'Eiffel Tower View King Room'
 'Standard Duplex Room 1 2 Adults']
==================================================
Trip Type
['Leisure trip' 'Business trip' nan]
==================================================

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               20000 non-null  object
 1   Additional Number of Scoring                20000 non-null  int64
 2   Review Date                                 20000 non-null  object
 3   Average Score                               20000 non-null  float64
 4   Hotel Name                                  20000 non-null  object
 5   Reviewer Nationality                        20000 non-null  object
 6   Negative Review                             20000 non-null  object
 7   Review Total Negative Word Counts           20000 non-null  int64
 8   Total Number of Reviews                     20000 non-null  int64
 9   Positive Review                             20000 non-null  object
 10  Review Total Positive Word Counts           20000 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  20000 non-null  int64
 12  days since review                           20000 non-null  int64
 13  lat                                         19869 non-null  float64
 14  lng                                         19869 non-null  float64
 15  Country                                     20000 non-null  object
 16  City                                        20000 non-null  object
 17  Reviewer Level                              20000 non-null  object
 18  Tags_list                                   20000 non-null  object
 19  Nights Stayed                               19990 non-null  float64
 20  Traveler Type                               19899 non-null  object
 21  Trip Type                                   19417 non-null  object
 22  Room Type                                   19892 non-null  object
dtypes: float64(4), int64(6), object(13)
memory usage: 3.5+ MB

In [168]:
df.isnull().mean()*100

Hotel Address                                 0.000
Additional Number of Scoring                  0.000
Review Date                                   0.000
Average Score                                 0.000
Hotel Name                                    0.000
Reviewer Nationality                          0.000
Negative Review                               0.000
Review Total Negative Word Counts             0.000
Total Number of Reviews                       0.000
Positive Review                               0.000
Review Total Positive Word Counts             0.000
Total Number of Reviews Reviewer Has Given    0.000
days since review                             0.000
lat                                           0.655
lng                                           0.655
Country                                       0.000
City                                          0.000
Reviewer Level                                0.000
Tags_list                                     0.000
Nights Stayed                                 0.050
Traveler Type                                 0.505
Trip Type                                     2.915
Room Type                                     0.540
dtype: float64

In [169]:
df.groupby('City')['Trip Type'] \
                       .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)

City
Amsterdam    Leisure trip
Barcelona    Leisure trip
Milan        Leisure trip
Paris        Leisure trip
United       Leisure trip
Vienna       Leisure trip
Name: Trip Type, dtype: object

In [170]:
df['Trip Type'].value_counts()

Trip Type
Leisure trip     16188
Business trip     3229
Name: count, dtype: int64

In [171]:
df['Room Type'].unique().tolist()

['With a pet',
 'Double Room',
 'Standard Room with 1 Single Bed',
 'Double Room Non Smoking',
 'Classic Double Room',
 'Superior Queen Room',
 'Superior Twin Room',
 'Superior Double Room',
 'Classic Double or Single Room',
 'Standard Room',
 '2 rooms',
 'Superior King Room',
 'Club Twin Room',
 'Standard Double or Twin Room',
 nan,
 'Standard Double Room',
 'Classic Double or Twin Room',
 'Standard Twin Room',
 'Deluxe Double Room',
 'Deluxe Triple Room',
 'Small Double Room',
 'Superior Triple Room',
 'Queen Room',
 'Superior Shard King',
 'Superior Double or Twin Room',
 'Deluxe Double or Twin Room',
 'Dorsett Double Room',
 'Double Room 1 2 Adults',
 'Deluxe Suite with City View',
 'Standard Triple Room',
 'Executive Double Room',
 'Standard Double Room with Bridge View',
 'Standard Double',
 'Standard Double Room without Window',
 'Double Studio',
 'Standard',
 'Club Double Room',
 'Double or Twin Room',
 'Double Room with Balcony',
 'Double Room with Extra Bed',
 'Deluxe Room',
 'Classic King Room',
 'Queen Room Disability Access Non Smoking',
 'Triple Room',
 'Standard Family Room',
 'Double Guest Room',
 'Accessible Queen Guest Room',
 'Twin Room',
 'Superior Room',
 'Superior Double Twin Room',
 'Camper Room',
 'King Superior Room',
 'Deluxe King Room',
 'Deluxe Suite',
 'Travelers with friends',
 'Comfort Double or Twin Room',
 'Deluxe Boulevard Double Room',
 'Business Double or Twin Room',
 'King Room',
 'Executive King Room',
 'Superior Deluxe Room',
 'Executive Double or Twin Room',
 'Junior King Suite',
 'Standard Room with 2 Single Beds',
 'Classic Room',
 'Superior Room with View of Big Ben',
 'Deluxe Single Room',
 'Classic Single Room',
 'Double or Twin Room with Terrace',
 'Twin Hilton Guest Room',
 'Corner Double Room',
 'Double or Twin Room with City View',
 'Double or Twin Ground Floor',
 'Luxury Double Room',
 'Family Room 2 Adults 2 Children',
 'Art Room with Iconic View',
 'Double Room with View',
 'Single Room',
 'Superior Double or Twin Room with City View',
 'Double Room with Courtyard View',
 'Double or Twin Room with View',
 'Deluxe Double',
 'Executive Studio',
 'Deluxe Family Room',
 'Queen Guest Room with Sofa Bed',
 'Classic Double Single Use',
 'Studio Suite',
 'Double Room with Two Double Beds',
 'Deluxe Double Room with Bath',
 'Executive Double Room Eiffel Studio D Artiste with view of Paris',
 'Twin Guest Room',
 'Double Room with Eiffel Tower View',
 'Executive Studio Suite',
 'Executive Single Room',
 'Superior Room with City View',
 'Standard Room with Double Bed',
 'Aldwych Double Twin Room',
 'Junior Suite with access to the Club Lounge',
 'Marina Double Suite',
 'Condal Double or Twin Room',
 'Compact Double Room',
 'Deluxe Twin Room',
 'Cosy Single Room',
 'Double Room Cosy',
 'Privilege Double Room',
 'Standard Double or Twin Room with Balcony',
 'Classic Twin Room',
 'Superior Double or Twin Room with Terrace',
 'Superior King Room Eiffel Tower View',
 'Wonderful Double or Twin Room',
 'Comfort Room',
 'Superior Suite with 1 Double Bed and 1 Single Bed',
 'Quadruple Room',
 'Standard Double Room No Window',
 'Basic Double Room',
 'Superior Double Room with Internal View',
 'Loft',
 'Standard King Room',
 'City King Room',
 'Economy Single Room basement no window',
 'Hilton Deluxe King Room',
 'Comfort Double Room',
 'Cosy Double Room',
 'Executive Room',
 'Double or Twin Room 1 2 Adults',
 'Club Double or Twin Room',
 'Deluxe King Room with Stadium View',
 'Standard Single Room',
 'Classic King Twin Room',
 'Superior Premium Room with Queen Bed Sofa',
 'Large Penthouse Suite with Terrace and City View',
 'Double Twin Superior Room',
 'Queen Guest Room',
 'Standard Room with Spa access',
 'Signature Luxury King with Balcony',
 'Executive Double Room with Access to Executive Lounge',
 'Classic Master Suite',
 'Standard Room with Queen Bed',
 'Deluxe King with Balcony',
 'Junior Suite',
 'Superior Double Room with Terrace',
 'Studio King Family',
 'Double Room Trocad ro with Spa Bath',
 'Queen or Two Double Beds Room',
 'Deluxe Plus Double Room',
 'Double Hilton Deluxe Room',
 'Standard Queen Room',
 'Premier Twin Room',
 'Family Suite',
 'King Guest Room',
 'Double Room Annex',
 'King Hilton Guest Room',
 'Twin Room with Public Transport Ticket',
 'Double Room 1 Adult',
 'Special Offer Queen Room',
 'Queen Room Non Smoking',
 'Large Room',
 'Double Deluxe Room',
 'Superior Single Room',
 'Executive King Room with Lounge Access',
 'Double Hilton Guestroom',
 'Deluxe King Room Balcony with Eiffel Tower View',
 'Interior Double or Twin Room',
 'One Bedroom Apartment',
 'Deluxe Double Room with Eiffel Tower view',
 'Standard Apartment',
 'Family Room Two Connecting Rooms',
 'Queen Guestroom',
 'Classic Queen Room',
 'Superior Double Bedroom',
 'Studio King',
 'Standard Room with 1 Double Bed',
 'Superior King or Twin Room',
 'Maisonette',
 'Small Queen Room',
 'Superior Room with 1 Queensize Bed Canal view',
 'Superior Twin Room with Extra Bed',
 'Room Selected at Check In',
 '2 Adjacent Rooms',
 'Superior Double or Twin Room XL',
 'Superior Duplex Room',
 'Premier Double Room',
 'Double Room with Sofa Bed',
 'Superior Double Room Single use',
 'Standard Double Twin Room',
 'Superior Double Room Disability Access',
 'Double Room Moulin Rouge with Shower',
 'Imperial Club Double Room with access to the Club Lounge',
 'Grand Deluxe Double Room',
 'Superior Twin Room with Sofa Bed Non Smoking',
 'Grand Deluxe Double or Twin Room',
 'Studio',
 'Suite',
 'Superior Double or Twin Room 1 2 Adults',
 'Junior Double Room',
 'Deluxe Suite with Executive Lounge Access',
 'Special Offer Twin Double Room Stay and Park',
 'Deluxe Queen Room with View',
 'Business Room',
 'Deluxe Room Barlow Wing',
 'Superior Room with 1 Queen Bed and Sofa',
 'Deluxe Single Room with View',
 'Classic Studio',
 'Classic Double or Twin Room with City View',
 'Deluxe Twin Room Balcony with Eiffel Tower View',
 'Superior Room with Spa Fitness Access',
 'Standard Room with Queensize bed and Single Sofa Bed',
 'Standard Room 1 2 adults',
 'Grand Superior King or Twin Room',
 'Double or Twin Room Non Smoking',
 'Junior Triple Room',
 'City King or Twin Room',
 'Double Room with Spa Bath',
 'Deluxe with Garden',
 'Deluxe King Room with Balcony',
 'Superior Room with Queen size bed and Sofa Bed',
 'Deluxe Double Room with State Opera View',
 'Double Queen Waterfront',
 'Deluxe Twin Room with View',
 'Two Connecting Rooms',
 'Garden Room',
 'Superior',
 'Triple Room 2 Adults 1 Child',
 'Privilege King Room',
 'Superior Studio Apartment',
 'Premium Double Room',
 'Privilege Room with 1 Queen Size bed',
 'Economy Double Room basement no window',
 'Economy Double or Twin Room',
 'Economy Single Room',
 'Superior Double Room with Queen size bed',
 'Art King Room',
 'Standard Double Room with View Terrace',
 'Duplex Double Room',
 'Deluxe Double or Twin Room with Mountain View',
 'Queen Double Room',
 'Superior Twin Room with Internal View',
 'Suite with Balcony',
 'One Bedroom Suite',
 'Deluxe Double Room with Spa Bath',
 '3 rooms',
 'Fabulous Double or Twin Room',
 'Superior Room with 1 Queen Bed',
 'Executive Double Room with Double Bed and Sofa Bed',
 'Double Room with Shower',
 'Classic Double Room La Parisienne',
 'Executive Double or Twin Room with Spa Access',
 'Tradition Double Room',
 'Classic Guest room 1 King or 2 Twin Single Bed s',
 'Large Double Room',
 'Executive Suite 2 Adults',
 'Superior Double Twin Room with Free Parking',
 'Apartment 6 Adults',
 'Double Room with Single Bed',
 'Garden Cottage',
 'Junior Suite with 1 King Size Bed',
 'Small Single Room',
 'Deluxe Double Room with Private Access to Pool and Spa',
 'Two Bedroom Suite',
 'Premium Double or Twin Room XL',
 'Double or Twin Room with Sea View',
 'Family Room 4 Adults',
 'Wonderful Room',
 'Deluxe King Room with Water View',
 'Superior Double Room with Terrace and Private Pool',
 'Queen Hilton Guest Room',
 'Queen Hilton Deluxe',
 'Double Suite',
 'Queen Hilton Superior Room',
 'Classic Room with Courtyard View',
 'Large King Room',
 'Queen Room Mobility Access',
 'Family Room 4 guest',
 'Superior Room with 2 Single Beds',
 'Economy Double Room',
 'penta Standard Room',
 'Double Room with City View',
 'Junior Double',
 'Club Single Room',
 'Luxury Room',
 'Comfort Double or Twin Room Non Smoking',
 'Modern Double Room Echo',
 'Executive King Room Non Smoking with Executive Lounge Access',
 'Queen Guest Room with River View',
 'Deluxe Double Studio',
 'Double or Twin Room with Balcony',
 'Deluxe with Two Double Beds',
 'Deluxe King or Twin Room',
 'Hilton Superior Double Room',
 'Superior Studio',
 'Deluxe Queen Room',
 '5 rooms',
 'Superior Studio with City View',
 'Executive Double',
 'King Guest Room Wheelchair Accessible',
 'King Accessible Superior Room',
 'Superior King Room Barlow Wing',
 'Privilege Room',
 'Standard Quadruple Room',
 'Deluxe',
 'Comfort Twin Double Room',
 'Superior Double',
 'Andaz Double Room',
 'Deluxe Double or Twin Room with Terrace',
 'Executive Club Double Room',
 'Twin Superior Room',
 'Luxury Twin Room Solarium',
 'One Room Suite with Kitchenette',
 'Executive King Room with Air Conditioning',
 'Luxury Double or Twin Room',
 'Basic Single Room',
 'Luxury Four Poster',
 'Deluxe King Room with City View',
 'Junior Suite with Eiffel Tower View',
 'Executive King Suite',
 'Small Double or Twin Room',
 'Deluxe Junior Suite',
 'Souterrain Triple Room',
 'Compact Double Room with Private Bathroom',
 'Corner Larger Executive room with Executive lounge access Free Wifi',
 'Superior Double or Twin Room with Spa Access',
 'Executive Room with City View',
 'Superior Room with Spa access',
 'Executive Twin Room',
 'Studio Double Family',
 'Double Room with River View',
 'Quality Double or Twin Room',
 'Classic Triple Room',
 'Executive Double Room with Air Conditioning',
 'Double Room with Terrace',
 'Single Room Annex',
 'Deluxe Room with Club Lounge access',
 'Superior Double Room with Balcony and City View',
 'Classic Room with 1 Queen bed',
 'Standard 1 Bedroom Apartment',
 'Double Room Free Wi Fi',
 'Queen Room with Eiffel Tower View',
 'Twin Room Non Smoking',
 'Superior Double Room with 1 Double Bed and 1 Sofa Bed 2 places',
 'Double or Twin Room Allergy Free',
 'Chelsea Twin Suite',
 'Classic Room Breakfast Included',
 'King Hilton Guestroom',
 'Budget Single Room',
 'Queen Room with Mobility Access',
 'Double Double Room',
 'Two Connecting Double Rooms',
 'Special Offer Superior Double Room',
 'Executive Deluxe',
 'Executive Junior Suite',
 'Treat your Partner Package Double Room',
 'King Family Room',
 'Deluxe Double or Twin Room with City View',
 'Triple Family Guestroom',
 'Superior Double Studio',
 'Comfort Double or Twin Room with Extra Bed',
 'Superior Suite Junior',
 'Double Room with Sofa Bed Non Smoking',
 'Single Hilton Guest Room',
 'King Double or Twin Room',
 'Superior Twin or Double Room',
 'Gallery Suite with Spa Access Free Wifi',
 'Comfort Double Room With Sacr Coeur View',
 'Single Room with Double Bed',
 'Deluxe Metropolitan City Double Room',
 'Weekend Offer Standard Studio',
 'Deluxe Double or Twin Room with Spa Access',
 'Executive Twin Room with Lounge Access',
 'Executive Suite with Lounge Access',
 'Standard Double Room with Two Single Beds',
 'Superior Deluxe Double or Twin Room with Spa Access',
 'Champagne Shopping package Double Room',
 'Executive Triple Room',
 'Comfort Twin Room',
 'Superior King Room with Sofa Bed',
 'Superior Room with Queensize Bed and double couch 2 adults 2 children',
 'Club Double or Twin Room with Executive Lounge Access',
 'Small Double Room with Canal View',
 'Emperor Suite',
 'Club Room',
 'Executive Deluxe Studio Suite',
 'Premium Junior Suite with King size Bed',
 'Deluxe Double Room 1 2 Adults',
 'Superior Queen Room with Sofa',
 'Business Double Room',
 'Double Executive Room with Lounge Access',
 'Luxury Junior Suite',
 'Superior Double Room with Sofa Bed',
 'Luxury Suite Patio',
 'Twin Room with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Deluxe Double Room Annex',
 'Superior Queen Room with Extra Bed 2 Adults',
 'Executive Club Room',
 'Double Room Medium',
 'Superior Double Room with Spa Access',
 'Superior Twin Room with Extra Bed 2 adults 1 child',
 'Mini Room',
 'Deluxe Double and Single Room',
 'Double Room with Public Transport Ticket',
 'Superior M Double Room',
 'Exclusive Double Room',
 'Classic Double Room with Shower',
 'Superior Room with 1 Double Bed',
 'Family Room with Balcony',
 'Deluxe Double Room with View',
 'King City View Room',
 'Double or Twin Room with Bath',
 'Romantic Special Offer',
 'Classic Double or Twin Room with Spa Access',
 'King Deluxe Guest Room',
 'Family Suite 2 Adults 2 Children',
 'Family Superior Room',
 'Deluxe Double Room with Two Double Beds',
 'King Executive Suite with Lounge Access',
 'Twin Room with Spa Bath',
 'Apartment 1 2 Adults',
 'Montcalm Club Room',
 'Superior Double or Twin Room with View',
 'Classic Quadruple Room',
 'Double Room Curieuse',
 'Family Room 3 Adults',
 'Deluxe Room with Courtyard View',
 'Superior Room with Queensize Bed and Single Sofa Bed',
 'Standard Studio',
 'Chelsea Double Suite',
 'Superior Double Room with free unlimited WIFI',
 'Hyatt Queen Room',
 'Double Room Marquise',
 'Penthouse Suite',
 'Junior Suite with Hydromassage Shower',
 'Room with Park View',
 'Deluxe Room with view',
 'King Room with Balcony',
 'Smart Double or Twin Room',
 'Deluxe Double or Twin Room 2 adults 1 child',
 'Double or Twin Room with Extra Bed',
 'Superior Triple Room 3 Adults',
 'Queen Room with Sofa Bed',
 'Deluxe Queen Room with River View',
 'Queen Bed Leisure',
 'King Room with Hyde Park View',
 'Deluxe Double Room with Terrace',
 'Superior Double or Twin Room with Free Wifi',
 'Comfort Double Room with Extra Bed',
 'River View Deluxe',
 'Twin Room with Courtyard View',
 'Single Hilton Guestroom',
 'Double Room with Street View',
 'Executive Family Room 2 Adults and 2 Children',
 'Deluxe Double Room with Four Poster Bed',
 'Standard Double or Twin Room with Balcony 1 Adult',
 'Family Room 2 Adults 1 Child',
 'Superior King Suite',
 'Standard Double or Twin Room with Extra Bed 3 Adults',
 'Comfort Triple Room',
 'Quintuple Room',
 'Deluxe Accessible Twin Room with View',
 'Special Room',
 'Superior Twin Room with City View',
 'Superior Queen Suite with Sofa Bed',
 'Standard King Room Non Smoking',
 'Premier Single Room',
 'Junior Suite with Sea View',
 'Studio Triple',
 'City Twin Room',
 'Junior Suite with River View and Balcony',
 'Deluxe Double Room with Spa Access',
 'Deluxe Twin Room with City View',
 'Superior Double or Twin Room Moon Blue',
 'Double or Twin Room with Spa Access',
 'Executive Double or Twin Room with City View',
 'Deluxe Studio',
 'City Twin Room with Surprise Package',
 'Deluxe Twin Room 2 Adults',
 'Executive Queen Room With Sofa Bed',
 'Double Family Guestroom',
 'Luxury Twin Room',
 'Sextuple Room',
 'Classic Double Room with Breakfast',
 'Executive Studio City View',
 'Premium Double or Twin Room',
 'Large Comfort Double or Twin Room',
 'Deluxe Double Room 1 2 adults',
 'Family Junior Suite 3 Adults 1 Child',
 'Deluxe Double or Twin Room with Landmark View',
 'Executive Family Room',
 'Deluxe One Bedroom Apartment',
 'Double or Twin Room with Extra Bed with Balcony',
 'Deluxe Double Twin Room',
 'Deluxe King Room with River View',
 'Junior Suite with Terrace',
 'Comfort Quadruple Room',
 'Tiny Single Room',
 'Superior King Room with Balcony',
 'City Room',
 'Royal Mews View Classic Double',
 'Superior Double or Twin Room with Balcony',
 'Special Offer Double or Twin Room',
 'Superior Queen Room with 2 Single Sofa Beds',
 'Quality Single Room',
 'King Double Room',
 'Residence Suite',
 'Budget Single Room Non Smoking',
 'Standard Room with Queen Bed Renovated',
 'Deluxe Double Room with River View',
 'Urban Double or Twin Room',
 'Deluxe One Bedroom Suite',
 'Luxury Suite',
 'Luxury Room 2 Adults with canal view',
 'Prestige Double Room',
 'Classic Double Room with Garden View',
 'Superior Double Room with Two Double Beds',
 'One Bedroom Suite with City View',
 'Superior Room with Queen Bed and Sofa',
 'Executive Queen Room with Lounge Access',
 'Studio Attrape R ve',
 'Standard Double Room Disability Access',
 'Executive King Room with City View',
 'Park Studio King',
 'Double Room with Private Bathroom',
 'Design Double or Twin Room',
 'Privilege Room with a double bed upper floors',
 'Family Room Two connecting Rooms',
 'Triple Room with Mobile Phone 3 adults',
 'Twin Room with Executive Lounge access',
 'King Grand Premier Room',
 'Two Bedroom Apartment',
 'Superior Queen Room with Courtyard Garden or City View',
 'Deluxe Double Room with Garden View',
 'Twin Hilton Deluxe',
 'Junior Suite with Spa Access',
 'Garden Twin Room',
 'Superior Double Room with Balcony',
 'Double Family Guest Room',
 'Standard Room for 1 or 2 people with Kitchenette',
 'Classic King View',
 'Single Room with Courtyard View',
 'Superior Room with 1 kingsize bed',
 'Duplex Room',
 'Double Room 2 Adults',
 'Twin Deluxe Room',
 'Junior Suite with Courtyard View',
 'Basic Twin Room',
 'Premium Quadruple Room',
 'Chambers Junior Suite with Club Lounge Access',
 'Cool Corner Suite',
 'Large Twin Room',
 'King Room with View',
 'Traditional Double Room',
 'King Room with River View',
 'Standard Room with Double Bed and Sofa Bed',
 'Double or Twin Room with Terrace and Spa Access',
 'Classic Double Room with Street View',
 'Executive King Room with View',
 'Superior Twin Room with View',
 'King Junior Suite with View',
 'Accessible Twin Room',
 'Souterrain Double Room',
 'Superior Twin Room Barlow Wing',
 'Pasha Suite',
 'Superior Twin Room with Two Double Beds',
 'Double or Twin Room 2 Adult 1 Children',
 'Superior Suite 2 Adults 2 Children',
 'Deluxe Double with Terrace',
 'Privilege Double or Twin Room with Spa Access',
 'Queensgate Triple Room',
 'Superior Room with Queen Bed Sofa',
 'Superior Guest room 1 King or 2 Twin Single Bed s',
 'Triple Room with Spa Access',
 'Executive Double Room Studio D Artiste',
 'Cosy Family',
 'Superior Room with Queensize Bed and single sofa bed 3 adults',
 'Standard Double Room Ground Floor',
 'Two Adjacent Double Rooms',
 'Superior Queen Room with Double Sofa',
 'Wonderful Exchange King',
 'Superior Double or Twin Room with Parking',
 'Superior Room with Spa Access Free Wifi',
 'Studio Double Room',
 'Executive Premium Room with a Queen Bed',
 'Standard Room With 2 Zip Beds',
 'Queen Room Upper Floors',
 'Royal Double Room',
 'King Deluxe Room',
 'Executive Studio City View Family',
 'Superior Double Room with View',
 'Luxury Double Room Mezzanine',
 'Budget Double Room Second Floor',
 'Club King Room',
 'Mus e d Orsay Double Room',
 'Queen Suite with Balcony and City View',
 'Executive Double Room with City View',
 'Executive Suite',
 'Classic Designer',
 'Amsterdam Street Art Queen Guest Room',
 'Superior Double Room with City View',
 'Superior Metropolitan Park Double Room',
 'Business Class Room',
 'Comfort Double or Twin Room for Single Use',
 'Superior King',
 'Iconic King Room With City View',
 'Economy Twin Room',
 'Executive Room with queen size bed and single sofa bed 2 Adults 1 child',
 'Superior Family Room 2 Adults 1 Child',
 'Executive King Room Non Smoking',
 'Deluxe Double or Twin Room 1 2 Adults',
 'Twin Room with Cathedral View',
 'Small Double Room with Terrace',
 'Double Room Crash Pad Under 30s',
 'Deluxe Double Room with Club Lounge Access',
 'One Bedroom Suite with Kitchenette',
 'Suite Room 1 or 2 people',
 'Duplex Suite',
 'Privilege Super King or Twin Room',
 'Premier King Room with City View',
 'Superior Executive Room',
 'Queen or Twin Room',
 'Club Deluxe Room',
 'Double Room for Single Use',
 'Double Hilton Deluxe',
 'Hoxton Studio Suite',
 'Comfort Double or Twin Room with Rambla View',
 'King Room Mobility Accessible',
 'Classic Double Room with Courtyard View',

In [172]:
df['Room Type'] = df['Room Type'].replace('With a pet', np.nan)

In [174]:
df['Room Type'].unique().tolist()

[nan,
 'Double Room',
 'Standard Room with 1 Single Bed',
 'Double Room Non Smoking',
 'Classic Double Room',
 'Superior Queen Room',
 'Superior Twin Room',
 'Superior Double Room',
 'Classic Double or Single Room',
 'Standard Room',
 '2 rooms',
 'Superior King Room',
 'Club Twin Room',
 'Standard Double or Twin Room',
 'Standard Double Room',
 'Classic Double or Twin Room',
 'Standard Twin Room',
 'Deluxe Double Room',
 'Deluxe Triple Room',
 'Small Double Room',
 'Superior Triple Room',
 'Queen Room',
 'Superior Shard King',
 'Superior Double or Twin Room',
 'Deluxe Double or Twin Room',
 'Dorsett Double Room',
 'Double Room 1 2 Adults',
 'Deluxe Suite with City View',
 'Standard Triple Room',
 'Executive Double Room',
 'Standard Double Room with Bridge View',
 'Standard Double',
 'Standard Double Room without Window',
 'Double Studio',
 'Standard',
 'Club Double Room',
 'Double or Twin Room',
 'Double Room with Balcony',
 'Double Room with Extra Bed',
 'Deluxe Room',
 'Classic King Room',
 'Queen Room Disability Access Non Smoking',
 'Triple Room',
 'Standard Family Room',
 'Double Guest Room',
 'Accessible Queen Guest Room',
 'Twin Room',
 'Superior Room',
 'Superior Double Twin Room',
 'Camper Room',
 'King Superior Room',
 'Deluxe King Room',
 'Deluxe Suite',
 'Travelers with friends',
 'Comfort Double or Twin Room',
 'Deluxe Boulevard Double Room',
 'Business Double or Twin Room',
 'King Room',
 'Executive King Room',
 'Superior Deluxe Room',
 'Executive Double or Twin Room',
 'Junior King Suite',
 'Standard Room with 2 Single Beds',
 'Classic Room',
 'Superior Room with View of Big Ben',
 'Deluxe Single Room',
 'Classic Single Room',
 'Double or Twin Room with Terrace',
 'Twin Hilton Guest Room',
 'Corner Double Room',
 'Double or Twin Room with City View',
 'Double or Twin Ground Floor',
 'Luxury Double Room',
 'Family Room 2 Adults 2 Children',
 'Art Room with Iconic View',
 'Double Room with View',
 'Single Room',
 'Superior Double or Twin Room with City View',
 'Double Room with Courtyard View',
 'Double or Twin Room with View',
 'Deluxe Double',
 'Executive Studio',
 'Deluxe Family Room',
 'Queen Guest Room with Sofa Bed',
 'Classic Double Single Use',
 'Studio Suite',
 'Double Room with Two Double Beds',
 'Deluxe Double Room with Bath',
 'Executive Double Room Eiffel Studio D Artiste with view of Paris',
 'Twin Guest Room',
 'Double Room with Eiffel Tower View',
 'Executive Studio Suite',
 'Executive Single Room',
 'Superior Room with City View',
 'Standard Room with Double Bed',
 'Aldwych Double Twin Room',
 'Junior Suite with access to the Club Lounge',
 'Marina Double Suite',
 'Condal Double or Twin Room',
 'Compact Double Room',
 'Deluxe Twin Room',
 'Cosy Single Room',
 'Double Room Cosy',
 'Privilege Double Room',
 'Standard Double or Twin Room with Balcony',
 'Classic Twin Room',
 'Superior Double or Twin Room with Terrace',
 'Superior King Room Eiffel Tower View',
 'Wonderful Double or Twin Room',
 'Comfort Room',
 'Superior Suite with 1 Double Bed and 1 Single Bed',
 'Quadruple Room',
 'Standard Double Room No Window',
 'Basic Double Room',
 'Superior Double Room with Internal View',
 'Loft',
 'Standard King Room',
 'City King Room',
 'Economy Single Room basement no window',
 'Hilton Deluxe King Room',
 'Comfort Double Room',
 'Cosy Double Room',
 'Executive Room',
 'Double or Twin Room 1 2 Adults',
 'Club Double or Twin Room',
 'Deluxe King Room with Stadium View',
 'Standard Single Room',
 'Classic King Twin Room',
 'Superior Premium Room with Queen Bed Sofa',
 'Large Penthouse Suite with Terrace and City View',
 'Double Twin Superior Room',
 'Queen Guest Room',
 'Standard Room with Spa access',
 'Signature Luxury King with Balcony',
 'Executive Double Room with Access to Executive Lounge',
 'Classic Master Suite',
 'Standard Room with Queen Bed',
 'Deluxe King with Balcony',
 'Junior Suite',
 'Superior Double Room with Terrace',
 'Studio King Family',
 'Double Room Trocad ro with Spa Bath',
 'Queen or Two Double Beds Room',
 'Deluxe Plus Double Room',
 'Double Hilton Deluxe Room',
 'Standard Queen Room',
 'Premier Twin Room',
 'Family Suite',
 'King Guest Room',
 'Double Room Annex',
 'King Hilton Guest Room',
 'Twin Room with Public Transport Ticket',
 'Double Room 1 Adult',
 'Special Offer Queen Room',
 'Queen Room Non Smoking',
 'Large Room',
 'Double Deluxe Room',
 'Superior Single Room',
 'Executive King Room with Lounge Access',
 'Double Hilton Guestroom',
 'Deluxe King Room Balcony with Eiffel Tower View',
 'Interior Double or Twin Room',
 'One Bedroom Apartment',
 'Deluxe Double Room with Eiffel Tower view',
 'Standard Apartment',
 'Family Room Two Connecting Rooms',
 'Queen Guestroom',
 'Classic Queen Room',
 'Superior Double Bedroom',
 'Studio King',
 'Standard Room with 1 Double Bed',
 'Superior King or Twin Room',
 'Maisonette',
 'Small Queen Room',
 'Superior Room with 1 Queensize Bed Canal view',
 'Superior Twin Room with Extra Bed',
 'Room Selected at Check In',
 '2 Adjacent Rooms',
 'Superior Double or Twin Room XL',
 'Superior Duplex Room',
 'Premier Double Room',
 'Double Room with Sofa Bed',
 'Superior Double Room Single use',
 'Standard Double Twin Room',
 'Superior Double Room Disability Access',
 'Double Room Moulin Rouge with Shower',
 'Imperial Club Double Room with access to the Club Lounge',
 'Grand Deluxe Double Room',
 'Superior Twin Room with Sofa Bed Non Smoking',
 'Grand Deluxe Double or Twin Room',
 'Studio',
 'Suite',
 'Superior Double or Twin Room 1 2 Adults',
 'Junior Double Room',
 'Deluxe Suite with Executive Lounge Access',
 'Special Offer Twin Double Room Stay and Park',
 'Deluxe Queen Room with View',
 'Business Room',
 'Deluxe Room Barlow Wing',
 'Superior Room with 1 Queen Bed and Sofa',
 'Deluxe Single Room with View',
 'Classic Studio',
 'Classic Double or Twin Room with City View',
 'Deluxe Twin Room Balcony with Eiffel Tower View',
 'Superior Room with Spa Fitness Access',
 'Standard Room with Queensize bed and Single Sofa Bed',
 'Standard Room 1 2 adults',
 'Grand Superior King or Twin Room',
 'Double or Twin Room Non Smoking',
 'Junior Triple Room',
 'City King or Twin Room',
 'Double Room with Spa Bath',
 'Deluxe with Garden',
 'Deluxe King Room with Balcony',
 'Superior Room with Queen size bed and Sofa Bed',
 'Deluxe Double Room with State Opera View',
 'Double Queen Waterfront',
 'Deluxe Twin Room with View',
 'Two Connecting Rooms',
 'Garden Room',
 'Superior',
 'Triple Room 2 Adults 1 Child',
 'Privilege King Room',
 'Superior Studio Apartment',
 'Premium Double Room',
 'Privilege Room with 1 Queen Size bed',
 'Economy Double Room basement no window',
 'Economy Double or Twin Room',
 'Economy Single Room',
 'Superior Double Room with Queen size bed',
 'Art King Room',
 'Standard Double Room with View Terrace',
 'Duplex Double Room',
 'Deluxe Double or Twin Room with Mountain View',
 'Queen Double Room',
 'Superior Twin Room with Internal View',
 'Suite with Balcony',
 'One Bedroom Suite',
 'Deluxe Double Room with Spa Bath',
 '3 rooms',
 'Fabulous Double or Twin Room',
 'Superior Room with 1 Queen Bed',
 'Executive Double Room with Double Bed and Sofa Bed',
 'Double Room with Shower',
 'Classic Double Room La Parisienne',
 'Executive Double or Twin Room with Spa Access',
 'Tradition Double Room',
 'Classic Guest room 1 King or 2 Twin Single Bed s',
 'Large Double Room',
 'Executive Suite 2 Adults',
 'Superior Double Twin Room with Free Parking',
 'Apartment 6 Adults',
 'Double Room with Single Bed',
 'Garden Cottage',
 'Junior Suite with 1 King Size Bed',
 'Small Single Room',
 'Deluxe Double Room with Private Access to Pool and Spa',
 'Two Bedroom Suite',
 'Premium Double or Twin Room XL',
 'Double or Twin Room with Sea View',
 'Family Room 4 Adults',
 'Wonderful Room',
 'Deluxe King Room with Water View',
 'Superior Double Room with Terrace and Private Pool',
 'Queen Hilton Guest Room',
 'Queen Hilton Deluxe',
 'Double Suite',
 'Queen Hilton Superior Room',
 'Classic Room with Courtyard View',
 'Large King Room',
 'Queen Room Mobility Access',
 'Family Room 4 guest',
 'Superior Room with 2 Single Beds',
 'Economy Double Room',
 'penta Standard Room',
 'Double Room with City View',
 'Junior Double',
 'Club Single Room',
 'Luxury Room',
 'Comfort Double or Twin Room Non Smoking',
 'Modern Double Room Echo',
 'Executive King Room Non Smoking with Executive Lounge Access',
 'Queen Guest Room with River View',
 'Deluxe Double Studio',
 'Double or Twin Room with Balcony',
 'Deluxe with Two Double Beds',
 'Deluxe King or Twin Room',
 'Hilton Superior Double Room',
 'Superior Studio',
 'Deluxe Queen Room',
 '5 rooms',
 'Superior Studio with City View',
 'Executive Double',
 'King Guest Room Wheelchair Accessible',
 'King Accessible Superior Room',
 'Superior King Room Barlow Wing',
 'Privilege Room',
 'Standard Quadruple Room',
 'Deluxe',
 'Comfort Twin Double Room',
 'Superior Double',
 'Andaz Double Room',
 'Deluxe Double or Twin Room with Terrace',
 'Executive Club Double Room',
 'Twin Superior Room',
 'Luxury Twin Room Solarium',
 'One Room Suite with Kitchenette',
 'Executive King Room with Air Conditioning',
 'Luxury Double or Twin Room',
 'Basic Single Room',
 'Luxury Four Poster',
 'Deluxe King Room with City View',
 'Junior Suite with Eiffel Tower View',
 'Executive King Suite',
 'Small Double or Twin Room',
 'Deluxe Junior Suite',
 'Souterrain Triple Room',
 'Compact Double Room with Private Bathroom',
 'Corner Larger Executive room with Executive lounge access Free Wifi',
 'Superior Double or Twin Room with Spa Access',
 'Executive Room with City View',
 'Superior Room with Spa access',
 'Executive Twin Room',
 'Studio Double Family',
 'Double Room with River View',
 'Quality Double or Twin Room',
 'Classic Triple Room',
 'Executive Double Room with Air Conditioning',
 'Double Room with Terrace',
 'Single Room Annex',
 'Deluxe Room with Club Lounge access',
 'Superior Double Room with Balcony and City View',
 'Classic Room with 1 Queen bed',
 'Standard 1 Bedroom Apartment',
 'Double Room Free Wi Fi',
 'Queen Room with Eiffel Tower View',
 'Twin Room Non Smoking',
 'Superior Double Room with 1 Double Bed and 1 Sofa Bed 2 places',
 'Double or Twin Room Allergy Free',
 'Chelsea Twin Suite',
 'Classic Room Breakfast Included',
 'King Hilton Guestroom',
 'Budget Single Room',
 'Queen Room with Mobility Access',
 'Double Double Room',
 'Two Connecting Double Rooms',
 'Special Offer Superior Double Room',
 'Executive Deluxe',
 'Executive Junior Suite',
 'Treat your Partner Package Double Room',
 'King Family Room',
 'Deluxe Double or Twin Room with City View',
 'Triple Family Guestroom',
 'Superior Double Studio',
 'Comfort Double or Twin Room with Extra Bed',
 'Superior Suite Junior',
 'Double Room with Sofa Bed Non Smoking',
 'Single Hilton Guest Room',
 'King Double or Twin Room',
 'Superior Twin or Double Room',
 'Gallery Suite with Spa Access Free Wifi',
 'Comfort Double Room With Sacr Coeur View',
 'Single Room with Double Bed',
 'Deluxe Metropolitan City Double Room',
 'Weekend Offer Standard Studio',
 'Deluxe Double or Twin Room with Spa Access',
 'Executive Twin Room with Lounge Access',
 'Executive Suite with Lounge Access',
 'Standard Double Room with Two Single Beds',
 'Superior Deluxe Double or Twin Room with Spa Access',
 'Champagne Shopping package Double Room',
 'Executive Triple Room',
 'Comfort Twin Room',
 'Superior King Room with Sofa Bed',
 'Superior Room with Queensize Bed and double couch 2 adults 2 children',
 'Club Double or Twin Room with Executive Lounge Access',
 'Small Double Room with Canal View',
 'Emperor Suite',
 'Club Room',
 'Executive Deluxe Studio Suite',
 'Premium Junior Suite with King size Bed',
 'Deluxe Double Room 1 2 Adults',
 'Superior Queen Room with Sofa',
 'Business Double Room',
 'Double Executive Room with Lounge Access',
 'Luxury Junior Suite',
 'Superior Double Room with Sofa Bed',
 'Luxury Suite Patio',
 'Twin Room with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Deluxe Double Room Annex',
 'Superior Queen Room with Extra Bed 2 Adults',
 'Executive Club Room',
 'Double Room Medium',
 'Superior Double Room with Spa Access',
 'Superior Twin Room with Extra Bed 2 adults 1 child',
 'Mini Room',
 'Deluxe Double and Single Room',
 'Double Room with Public Transport Ticket',
 'Superior M Double Room',
 'Exclusive Double Room',
 'Classic Double Room with Shower',
 'Superior Room with 1 Double Bed',
 'Family Room with Balcony',
 'Deluxe Double Room with View',
 'King City View Room',
 'Double or Twin Room with Bath',
 'Romantic Special Offer',
 'Classic Double or Twin Room with Spa Access',
 'King Deluxe Guest Room',
 'Family Suite 2 Adults 2 Children',
 'Family Superior Room',
 'Deluxe Double Room with Two Double Beds',
 'King Executive Suite with Lounge Access',
 'Twin Room with Spa Bath',
 'Apartment 1 2 Adults',
 'Montcalm Club Room',
 'Superior Double or Twin Room with View',
 'Classic Quadruple Room',
 'Double Room Curieuse',
 'Family Room 3 Adults',
 'Deluxe Room with Courtyard View',
 'Superior Room with Queensize Bed and Single Sofa Bed',
 'Standard Studio',
 'Chelsea Double Suite',
 'Superior Double Room with free unlimited WIFI',
 'Hyatt Queen Room',
 'Double Room Marquise',
 'Penthouse Suite',
 'Junior Suite with Hydromassage Shower',
 'Room with Park View',
 'Deluxe Room with view',
 'King Room with Balcony',
 'Smart Double or Twin Room',
 'Deluxe Double or Twin Room 2 adults 1 child',
 'Double or Twin Room with Extra Bed',
 'Superior Triple Room 3 Adults',
 'Queen Room with Sofa Bed',
 'Deluxe Queen Room with River View',
 'Queen Bed Leisure',
 'King Room with Hyde Park View',
 'Deluxe Double Room with Terrace',
 'Superior Double or Twin Room with Free Wifi',
 'Comfort Double Room with Extra Bed',
 'River View Deluxe',
 'Twin Room with Courtyard View',
 'Single Hilton Guestroom',
 'Double Room with Street View',
 'Executive Family Room 2 Adults and 2 Children',
 'Deluxe Double Room with Four Poster Bed',
 'Standard Double or Twin Room with Balcony 1 Adult',
 'Family Room 2 Adults 1 Child',
 'Superior King Suite',
 'Standard Double or Twin Room with Extra Bed 3 Adults',
 'Comfort Triple Room',
 'Quintuple Room',
 'Deluxe Accessible Twin Room with View',
 'Special Room',
 'Superior Twin Room with City View',
 'Superior Queen Suite with Sofa Bed',
 'Standard King Room Non Smoking',
 'Premier Single Room',
 'Junior Suite with Sea View',
 'Studio Triple',
 'City Twin Room',
 'Junior Suite with River View and Balcony',
 'Deluxe Double Room with Spa Access',
 'Deluxe Twin Room with City View',
 'Superior Double or Twin Room Moon Blue',
 'Double or Twin Room with Spa Access',
 'Executive Double or Twin Room with City View',
 'Deluxe Studio',
 'City Twin Room with Surprise Package',
 'Deluxe Twin Room 2 Adults',
 'Executive Queen Room With Sofa Bed',
 'Double Family Guestroom',
 'Luxury Twin Room',
 'Sextuple Room',
 'Classic Double Room with Breakfast',
 'Executive Studio City View',
 'Premium Double or Twin Room',
 'Large Comfort Double or Twin Room',
 'Deluxe Double Room 1 2 adults',
 'Family Junior Suite 3 Adults 1 Child',
 'Deluxe Double or Twin Room with Landmark View',
 'Executive Family Room',
 'Deluxe One Bedroom Apartment',
 'Double or Twin Room with Extra Bed with Balcony',
 'Deluxe Double Twin Room',
 'Deluxe King Room with River View',
 'Junior Suite with Terrace',
 'Comfort Quadruple Room',
 'Tiny Single Room',
 'Superior King Room with Balcony',
 'City Room',
 'Royal Mews View Classic Double',
 'Superior Double or Twin Room with Balcony',
 'Special Offer Double or Twin Room',
 'Superior Queen Room with 2 Single Sofa Beds',
 'Quality Single Room',
 'King Double Room',
 'Residence Suite',
 'Budget Single Room Non Smoking',
 'Standard Room with Queen Bed Renovated',
 'Deluxe Double Room with River View',
 'Urban Double or Twin Room',
 'Deluxe One Bedroom Suite',
 'Luxury Suite',
 'Luxury Room 2 Adults with canal view',
 'Prestige Double Room',
 'Classic Double Room with Garden View',
 'Superior Double Room with Two Double Beds',
 'One Bedroom Suite with City View',
 'Superior Room with Queen Bed and Sofa',
 'Executive Queen Room with Lounge Access',
 'Studio Attrape R ve',
 'Standard Double Room Disability Access',
 'Executive King Room with City View',
 'Park Studio King',
 'Double Room with Private Bathroom',
 'Design Double or Twin Room',
 'Privilege Room with a double bed upper floors',
 'Family Room Two connecting Rooms',
 'Triple Room with Mobile Phone 3 adults',
 'Twin Room with Executive Lounge access',
 'King Grand Premier Room',
 'Two Bedroom Apartment',
 'Superior Queen Room with Courtyard Garden or City View',
 'Deluxe Double Room with Garden View',
 'Twin Hilton Deluxe',
 'Junior Suite with Spa Access',
 'Garden Twin Room',
 'Superior Double Room with Balcony',
 'Double Family Guest Room',
 'Standard Room for 1 or 2 people with Kitchenette',
 'Classic King View',
 'Single Room with Courtyard View',
 'Superior Room with 1 kingsize bed',
 'Duplex Room',
 'Double Room 2 Adults',
 'Twin Deluxe Room',
 'Junior Suite with Courtyard View',
 'Basic Twin Room',
 'Premium Quadruple Room',
 'Chambers Junior Suite with Club Lounge Access',
 'Cool Corner Suite',
 'Large Twin Room',
 'King Room with View',
 'Traditional Double Room',
 'King Room with River View',
 'Standard Room with Double Bed and Sofa Bed',
 'Double or Twin Room with Terrace and Spa Access',
 'Classic Double Room with Street View',
 'Executive King Room with View',
 'Superior Twin Room with View',
 'King Junior Suite with View',
 'Accessible Twin Room',
 'Souterrain Double Room',
 'Superior Twin Room Barlow Wing',
 'Pasha Suite',
 'Superior Twin Room with Two Double Beds',
 'Double or Twin Room 2 Adult 1 Children',
 'Superior Suite 2 Adults 2 Children',
 'Deluxe Double with Terrace',
 'Privilege Double or Twin Room with Spa Access',
 'Queensgate Triple Room',
 'Superior Room with Queen Bed Sofa',
 'Superior Guest room 1 King or 2 Twin Single Bed s',
 'Triple Room with Spa Access',
 'Executive Double Room Studio D Artiste',
 'Cosy Family',
 'Superior Room with Queensize Bed and single sofa bed 3 adults',
 'Standard Double Room Ground Floor',
 'Two Adjacent Double Rooms',
 'Superior Queen Room with Double Sofa',
 'Wonderful Exchange King',
 'Superior Double or Twin Room with Parking',
 'Superior Room with Spa Access Free Wifi',
 'Studio Double Room',
 'Executive Premium Room with a Queen Bed',
 'Standard Room With 2 Zip Beds',
 'Queen Room Upper Floors',
 'Royal Double Room',
 'King Deluxe Room',
 'Executive Studio City View Family',
 'Superior Double Room with View',
 'Luxury Double Room Mezzanine',
 'Budget Double Room Second Floor',
 'Club King Room',
 'Mus e d Orsay Double Room',
 'Queen Suite with Balcony and City View',
 'Executive Double Room with City View',
 'Executive Suite',
 'Classic Designer',
 'Amsterdam Street Art Queen Guest Room',
 'Superior Double Room with City View',
 'Superior Metropolitan Park Double Room',
 'Business Class Room',
 'Comfort Double or Twin Room for Single Use',
 'Superior King',
 'Iconic King Room With City View',
 'Economy Twin Room',
 'Executive Room with queen size bed and single sofa bed 2 Adults 1 child',
 'Superior Family Room 2 Adults 1 Child',
 'Executive King Room Non Smoking',
 'Deluxe Double or Twin Room 1 2 Adults',
 'Twin Room with Cathedral View',
 'Small Double Room with Terrace',
 'Double Room Crash Pad Under 30s',
 'Deluxe Double Room with Club Lounge Access',
 'One Bedroom Suite with Kitchenette',
 'Suite Room 1 or 2 people',
 'Duplex Suite',
 'Privilege Super King or Twin Room',
 'Premier King Room with City View',
 'Superior Executive Room',
 'Queen or Twin Room',
 'Club Deluxe Room',
 'Double Room for Single Use',
 'Double Hilton Deluxe',
 'Hoxton Studio Suite',
 'Comfort Double or Twin Room with Rambla View',
 'King Room Mobility Accessible',
 'Classic Double Room with Courtyard View',
 'Club King Room with View and Lounge Access',

In [175]:
df['Room Type'] = df['Room Type'].replace(np.nan,'UnKnown' )

In [176]:
df.isnull().mean()*100

Hotel Address                                 0.000
Additional Number of Scoring                  0.000
Review Date                                   0.000
Average Score                                 0.000
Hotel Name                                    0.000
Reviewer Nationality                          0.000
Negative Review                               0.000
Review Total Negative Word Counts             0.000
Total Number of Reviews                       0.000
Positive Review                               0.000
Review Total Positive Word Counts             0.000
Total Number of Reviews Reviewer Has Given    0.000
days since review                             0.000
lat                                           0.655
lng                                           0.655
Country                                       0.000
City                                          0.000
Reviewer Level                                0.000
Tags_list                                     0.000
Nights Stayed                                 0.050
Traveler Type                                 0.505
Trip Type                                     2.915
Room Type                                     0.000
dtype: float64

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               20000 non-null  object
 1   Additional Number of Scoring                20000 non-null  int64
 2   Review Date                                 20000 non-null  object
 3   Average Score                               20000 non-null  float64
 4   Hotel Name                                  20000 non-null  object
 5   Reviewer Nationality                        20000 non-null  object
 6   Negative Review                             20000 non-null  object
 7   Review Total Negative Word Counts           20000 non-null  int64
 8   Total Number of Reviews                     20000 non-null  int64
 9   Positive Review                             20000 non-null  object
 10  Review Total Positive Word Counts           20000 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  20000 non-null  int64
 12  days since review                           20000 non-null  int64
 13  lat                                         19869 non-null  float64
 14  lng                                         19869 non-null  float64
 15  Country                                     20000 non-null  object
 16  City                                        20000 non-null  object
 17  Reviewer Level                              20000 non-null  object
 18  Tags_list                                   20000 non-null  object
 19  Nights Stayed                               19990 non-null  float64
 20  Traveler Type                               19899 non-null  object
 21  Trip Type                                   19417 non-null  object
 22  Room Type                                   20000 non-null  object
dtypes: float64(4), int64(6), object(13)
memory usage: 3.5+ MB

In [178]:
cols_to_check = ['Nights Stayed', 'Traveler Type','Trip Type']
df = df.dropna(subset=cols_to_check)

In [179]:
df.isnull().mean()*100

Hotel Address                                 0.000000
Additional Number of Scoring                  0.000000
Review Date                                   0.000000
Average Score                                 0.000000
Hotel Name                                    0.000000
Reviewer Nationality                          0.000000
Negative Review                               0.000000
Review Total Negative Word Counts             0.000000
Total Number of Reviews                       0.000000
Positive Review                               0.000000
Review Total Positive Word Counts             0.000000
Total Number of Reviews Reviewer Has Given    0.000000
days since review                             0.000000
lat                                           0.642154
lng                                           0.642154
Country                                       0.000000
City                                          0.000000
Reviewer Level                                0.000000
Tags_list                                     0.000000
Nights Stayed                                 0.000000
Traveler Type                                 0.000000
Trip Type                                     0.000000
Room Type                                     0.000000
dtype: float64

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19310 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               19310 non-null  object
 1   Additional Number of Scoring                19310 non-null  int64
 2   Review Date                                 19310 non-null  object
 3   Average Score                               19310 non-null  float64
 4   Hotel Name                                  19310 non-null  object
 5   Reviewer Nationality                        19310 non-null  object
 6   Negative Review                             19310 non-null  object
 7   Review Total Negative Word Counts           19310 non-null  int64
 8   Total Number of Reviews                     19310 non-null  int64
 9   Positive Review                             19310 non-null  object
 10  Review Total Positive Word Counts           19310 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  19310 non-null  int64
 12  days since review                           19310 non-null  int64
 13  lat                                         19186 non-null  float64
 14  lng                                         19186 non-null  float64
 15  Country                                     19310 non-null  object
 16  City                                        19310 non-null  object
 17  Reviewer Level                              19310 non-null  object
 18  Tags_list                                   19310 non-null  object
 19  Nights Stayed                               19310 non-null  float64
 20  Traveler Type                               19310 non-null  object
 21  Trip Type                                   19310 non-null  object
 22  Room Type                                   19310 non-null  object
dtypes: float64(4), int64(6), object(13)
memory usage: 3.5+ MB

In [181]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

geolocator = Nominatim(user_agent="hotel_locator")

geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

def get_coordinates(row):
    if pd.notna(row['lat']) and pd.notna(row['lng']):
        return row['lat'], row['lng']
    
    for col in ['Hotel Address', 'City', 'Country']:
        try:
            location = geocode(row[col])
            if location:
                return location.latitude, location.longitude
        except:
            continue
    return np.nan, np.nan

mask_missing = df['lat'].isna() | df['lng'].isna()
df.loc[mask_missing, ['lat', 'lng']] = df[mask_missing].apply(
    lambda row: pd.Series(get_coordinates(row)), axis=1
)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('4 rue de la P pini re 8th arr 75008',), **{}).
Traceback (most recent call last):
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connection.py", line 565, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\http\client.py", line 1374, in getresponse
    response.begin()
  File "d:\Myanaconda\envs\Proc\Lib\http\client.py", line 318, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\http\client.py", line 279, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\ssl.py", line 1278, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\ssl.py", line 1134, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 787, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\requests\adapters.py", line 644, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\connectionpool.py", line 841, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\urllib3\util\retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=4+rue+de+la+P+pini+re+8th+arr+75008&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\requests\sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\requests\sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\requests\sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\requests\adapters.py", line 677, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=4+rue+de+la+P+pini+re+8th+arr+75008&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\extra\rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\extra\rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\geocoders\nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\geocoders\base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Myanaconda\envs\Proc\Lib\site-packages\geopy\adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=4+rue+de+la+P+pini+re+8th+arr+75008&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [182]:
df.isnull().mean()*100

Hotel Address                                 0.000000
Additional Number of Scoring                  0.000000
Review Date                                   0.000000
Average Score                                 0.000000
Hotel Name                                    0.000000
Reviewer Nationality                          0.000000
Negative Review                               0.000000
Review Total Negative Word Counts             0.000000
Total Number of Reviews                       0.000000
Positive Review                               0.000000
Review Total Positive Word Counts             0.000000
Total Number of Reviews Reviewer Has Given    0.000000
days since review                             0.000000
lat                                           0.642154
lng                                           0.642154
Country                                       0.000000
City                                          0.000000
Reviewer Level                                0.000000
Tags_list                                     0.000000
Nights Stayed                                 0.000000
Traveler Type                                 0.000000
Trip Type                                     0.000000
Room Type                                     0.000000
dtype: float64

In [184]:
cols_to_check = ['lat','lng']
df = df.dropna(subset=cols_to_check)

In [185]:
df.isnull().mean()*100

Hotel Address                                 0.0
Additional Number of Scoring                  0.0
Review Date                                   0.0
Average Score                                 0.0
Hotel Name                                    0.0
Reviewer Nationality                          0.0
Negative Review                               0.0
Review Total Negative Word Counts             0.0
Total Number of Reviews                       0.0
Positive Review                               0.0
Review Total Positive Word Counts             0.0
Total Number of Reviews Reviewer Has Given    0.0
days since review                             0.0
lat                                           0.0
lng                                           0.0
Country                                       0.0
City                                          0.0
Reviewer Level                                0.0
Tags_list                                     0.0
Nights Stayed                                 0.0
Traveler Type                                 0.0
Trip Type                                     0.0
Room Type                                     0.0
dtype: float64

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19186 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel Address                               19186 non-null  object
 1   Additional Number of Scoring                19186 non-null  int64
 2   Review Date                                 19186 non-null  object
 3   Average Score                               19186 non-null  float64
 4   Hotel Name                                  19186 non-null  object
 5   Reviewer Nationality                        19186 non-null  object
 6   Negative Review                             19186 non-null  object
 7   Review Total Negative Word Counts           19186 non-null  int64
 8   Total Number of Reviews                     19186 non-null  int64
 9   Positive Review                             19186 non-null  object
 10  Review Total Positive Word Counts           19186 non-null  int64
 11  Total Number of Reviews Reviewer Has Given  19186 non-null  int64
 12  days since review                           19186 non-null  int64
 13  lat                                         19186 non-null  float64
 14  lng                                         19186 non-null  float64
 15  Country                                     19186 non-null  object
 16  City                                        19186 non-null  object
 17  Reviewer Level                              19186 non-null  object
 18  Tags_list                                   19186 non-null  object
 19  Nights Stayed                               19186 non-null  float64
 20  Traveler Type                               19186 non-null  object
 21  Trip Type                                   19186 non-null  object
 22  Room Type                                   19186 non-null  object
dtypes: float64(4), int64(6), object(13)
memory usage: 3.5+ MB

In [187]:
df.to_csv('hotel_reviews.csv')

In [188]:
df.columns

Index(['Hotel Address', 'Additional Number of Scoring', 'Review Date',
       'Average Score', 'Hotel Name', 'Reviewer Nationality',
       'Negative Review', 'Review Total Negative Word Counts',
       'Total Number of Reviews', 'Positive Review',
       'Review Total Positive Word Counts',
       'Total Number of Reviews Reviewer Has Given', 'days since review',
       'lat', 'lng', 'Country', 'City', 'Reviewer Level', 'Tags_list',
       'Nights Stayed', 'Traveler Type', 'Trip Type', 'Room Type'],
      dtype='object')

In [3]:
df= pd.read_csv('hotel_reviews.csv')
df

,Unnamed: 0,Hotel Address,Additional Number of Scoring,Review Date,Average Score,Hotel Name,Reviewer Nationality,Negative Review,Review Total Negative Word Counts,Total Number of Reviews,...,lat,lng,Country,City,Reviewer Level,Tags_list,Nights Stayed,Traveler Type,Trip Type,Room Type
0,0,41 Rue Des Ecoles 5th arr 75005,126,2016-08-07,8.1,Villa Panth on,United Kingdom,No Negative,0,1374,...,48.848804,2.346989,France,Paris,Intermediate,"('With a pet', 'Leisure trip', 'Couple', 'Two ...",7.0,Couple,Leisure trip,UnKnown
1,1,Arcs 10 Ciutat Vella 08002,247,2015-11-04,9.2,Catalonia Catedral,United States of America,Room layout minimum shelf space not a 4 hotel...,12,1914,...,41.384664,2.174090,Spain,Barcelona,Intermediate,"('Leisure trip', 'Couple', 'Double Room', 'Sta...",2.0,Couple,Leisure trip,Double Room
2,2,21 rue de Dunkerque 10th arr 75010,740,2016-10-12,7.4,Mercure Paris Terminus Nord,South Africa,The windows in the bar lounge area cannot ope...,13,5575,...,48.879484,2.355654,France,Paris,High,"('Leisure trip', 'Solo traveler', 'Standard Ro...",3.0,Solo traveler,Leisure trip,Standard Room with 1 Single Bed
3,3,5 rue du 8 Mai 1945 10th arr 75010,710,2016-01-12,7.9,Holiday Inn Paris Gare de l Est,Germany,No Negative,0,6511,...,48.875898,2.359050,France,Paris,High,"('Leisure trip', 'Couple', 'Double Room Non Sm...",3.0,Couple,Leisure trip,Double Room Non Smoking
4,4,Landstra er Hauptstra e 120 03 Landstra e 1030,99,2017-08-02,8.4,Eurostars Embassy,Luxembourg,The underground garage is not accessible due ...,15,1442,...,48.196400,16.395867,Austria,Vienna,Intermediate,"('Business trip', 'Solo traveler', 'Double Roo...",1.0,Solo traveler,Business trip,Double Room
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19181,19995,628 Western Avenue London W3 0TA,131,2017-04-16,8.9,Park Plaza London Park Royal,United Kingdom,Nothing,2,425,...,51.527262,-0.282992,Kingdom,United,High,"('Leisure trip', 'Couple', 'Superior King Room...",2.0,Couple,Leisure trip,Superior King Room
19182,19996,Gran Via 605 Eixample 08007,343,2016-06-27,8.4,Avenida Palace,United States of America,Carpets not clean,4,3222,...,41.389117,2.167199,Spain,Barcelona,Intermediate,"('Leisure trip', 'Family with young children',...",5.0,Family with young children,Leisure trip,Double Room 1 2 Adults
19183,19997,117 129 Cromwell Road Kensington and Chelsea L...,229,2015-11-29,7.8,Park International Hotel,United Kingdom,No Negative,0,1252,...,51.494514,-0.186617,Kingdom,United,High,"('Business trip', 'Solo traveler', 'Double Roo...",1.0,Solo traveler,Business trip,Double Room
19184,19998,24 Ludgate Hill City of London London EC4M 7DR,918,2016-03-01,8.4,Club Quarters Hotel St Paul s,United Kingdom,Walls seemed very thin and consequently it wa...,14,4117,...,51.513930,-0.101126,Kingdom,United,High,"('Leisure trip', 'Couple', 'Standard Queen Roo...",1.0,Couple,Leisure trip,Standard Queen Room
19185,19999,Webgasse 26 06 Mariahilf 1060,88,2017-07-15,8.8,Austria Trend Hotel Anatol Wien,Australia,No Negative,0,1324,...,48.194577,16.346356,Austria,Vienna,High,"('Leisure trip', 'Family with young children',...",1.0,Family with young children,Leisure trip,Classic Room

In [ ]:
df["Hotel_Popularity_Score"] = df["Average Score"] * df["Total Number of Reviews"]

In [ ]:
df['Sentiment Label'] = df.apply(
    lambda row: 'Positive' if row['Review Total Positive Word Counts'] > row['Review Total Negative Word Counts'] 
                else ('Negative' if row['Review Total Positive Word Counts'] < row['Review Total Negative Word Counts'] 
                      else 'Neutral'),
    axis=1
)

In [8]:
def get_stay_length_category(nights):
    if nights < 3:
        return "Short Stay"
    elif nights > 7:
        return "Long Stay"
    else:
        return "Medium Stay"

df["Stay_Length_Category"] = df["Nights Stayed"].apply(get_stay_length_category)

In [9]:
df[["Hotel_Popularity_Score", "Sentiment_Score", "Sentiment_Label", "Stay_Length_Category"]].head()

,Hotel_Popularity_Score,Sentiment_Score,Sentiment_Label,Stay_Length_Category
0,11129.4,11,Positive,Medium Stay
1,17608.8,-8,Negative,Short Stay
2,41255.0,11,Positive,Medium Stay
3,51436.9,5,Positive,Medium Stay
4,12112.8,-6,Negative,Short Stay

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19186 entries, 0 to 19185
Data columns (total 28 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  19186 non-null  int64
 1   Hotel Address                               19186 non-null  object
 2   Additional Number of Scoring                19186 non-null  int64
 3   Review Date                                 19186 non-null  object
 4   Average Score                               19186 non-null  float64
 5   Hotel Name                                  19186 non-null  object
 6   Reviewer Nationality                        19163 non-null  object
 7   Negative Review                             19186 non-null  object
 8   Review Total Negative Word Counts           19186 non-null  int64
 9   Total Number of Reviews                     19186 non-null  int64
 10  Positive Review                             19186 non-null  object
 11  Review Total Positive Word Counts           19186 non-null  int64
 12  Total Number of Reviews Reviewer Has Given  19186 non-null  int64
 13  days since review                           19186 non-null  int64
 14  lat                                         19186 non-null  float64
 15  lng                                         19186 non-null  float64
 16  Country                                     19186 non-null  object
 17  City                                        19186 non-null  object
 18  Reviewer Level                              19186 non-null  object
 19  Tags_list                                   19186 non-null  object
 20  Nights Stayed                               19186 non-null  float64
 21  Traveler Type                               19186 non-null  object
 22  Trip Type                                   19186 non-null  object
 23  Room Type                                   19186 non-null  object
 24  Hotel_Popularity_Score                      19186 non-null  float64
 25  Sentiment_Score                             19186 non-null  int64
 26  Sentiment_Label                             19186 non-null  object
 27  Stay_Length_Category                        19186 non-null  object
dtypes: float64(5), int64(8), object(15)
memory usage: 4.1+ MB

In [11]:
df.columns

Index(['Unnamed: 0', 'Hotel Address', 'Additional Number of Scoring',
       'Review Date', 'Average Score', 'Hotel Name', 'Reviewer Nationality',
       'Negative Review', 'Review Total Negative Word Counts',
       'Total Number of Reviews', 'Positive Review',
       'Review Total Positive Word Counts',
       'Total Number of Reviews Reviewer Has Given', 'days since review',
       'lat', 'lng', 'Country', 'City', 'Reviewer Level', 'Tags_list',
       'Nights Stayed', 'Traveler Type', 'Trip Type', 'Room Type',
       'Hotel_Popularity_Score', 'Sentiment_Score', 'Sentiment_Label',
       'Stay_Length_Category'],
      dtype='object')

In [12]:
df.columns = [col.replace('_', ' ') for col in df.columns]

In [13]:
df.to_csv('hotel_reviews.csv')